Repository cryostatio/cryostat-web, pull requests merged in 2021-08, with the labels that each got.

#241 feat(applayout): add help icon and about modal
  src/app/AppLayout/AppLayout.tsx
  src/app/Shared/Services/Api.service.tsx
Labels: feat

#243 fix(settings): move from vert nav to masthead tool
  src/app/AppLayout/AppLayout.tsx
  src/app/routes.tsx
Labels: fix

#245 feat(notifications): implement notifications drawer
  src/app/AppLayout/AppLayout.tsx
  src/app/Notifications/NotificationCenter.tsx
  src/app/Notifications/Notifications.tsx
  src/app/Shared/Services/Api.service.tsx
Labels: feat

#256 feat(login): display notification on bad credentials
  src/app/Login/Login.tsx
Labels: feat

#262 chore(recordings): remove console.log
  src/app/CreateRecording/CustomRecordingForm.tsx
Labels: chore

#259 fix(reports): cache to sessionStorage
  src/app/Shared/Services/Report.service.tsx
Labels: fix

#269 fix(docs): Update README.md
  README.md
Labels: docs
