Repository cryostatio/cryostat-web, pull requests merged in 2021-11, with the labels that each got.

#319 fix(downloads): do not download into browser memory
  .env
  src/app/Recordings/RecordingActions.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Shared/Services/Login.service.tsx
Labels: feat

#339 fix(notifications): Do not show temporary reconnection errors
  src/app/Shared/Services/NotificationChannel.service.tsx
Labels: fix, backport

#342 fix(websocket): fix repeated disconnect/reconnect spin
  src/app/Settings/Settings.tsx
  src/app/Shared/Services/Login.service.tsx
  src/app/Shared/Services/Services.tsx
  src/app/Shared/Services/Settings.service.tsx
Labels: fix
