Repository cryostatio/cryostat-web, pull requests merged in 2021-09, with the labels that each got.

#271 feat(about): enhance version string and bug tracker
  src/app/AppLayout/AppLayout.tsx
Labels: feat

#272 fix(recordings): collapse expanded recording rows when switching targets
  src/app/RecordingList/ActiveRecordingsList.tsx
Labels: fix

#276 fix(targets): backport bugfixes when switching targets
  src/app/Events/EventTemplates.tsx
  src/app/Events/EventTypes.tsx
  src/app/RecordingList/ActiveRecordingsList.tsx
Labels: fix, backport

#275 feat(about): enhance version string and bug tracker (#271)
  src/app/AppLayout/AppLayout.tsx
Labels: feat, backport

#277 chore(notifications): convert notification categories to CamelCase
  src/app/Shared/Services/NotificationChannel.service.tsx
Labels: chore

#282 ci(mergify): target backports to v2 branch
  .mergify.yml
Labels: ci

#286 fix(about): short hash may not be 9 chars
  src/app/AppLayout/AppLayout.tsx
Labels: fix, backport

#288 fix(notifications): Fix inconsistent action notification categories
  src/app/Notifications/NotificationCenter.tsx
  src/app/Notifications/Notifications.tsx
  src/app/RecordingList/ActiveRecordingsList.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Shared/Services/NotificationChannel.service.tsx
  src/app/Shared/Services/Targets.service.tsx
Labels: fix

#289 feat(notifications): Show toast on user action success
  src/app/AppLayout/AppLayout.tsx
  src/app/Notifications/Notifications.tsx
Labels: feat

#280 fix(images): add favicon and brand image
  license-config.json
  src/app/AppLayout/AppLayout.tsx
  src/app/app.css
  src/app/assets/cryostat-3-icon-16px.png
  src/app/assets/icon-cryostat-3-white.svg
  src/app/assets/icon-cryostat-3.svg
  src/app/assets/logo-cryostat-3-horizontal.svg
  src/app/assets/logo-cryostat-3.svg
  src/index.html
  webpack.common.js
Labels: fix, backport

#291 feat(targets): Persist selected target in localStorage
  src/app/TargetSelect/TargetSelect.tsx
Labels: feat

#292 fix(recordings): fix column alignments by converting data list components to table components
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Recordings/ArchiveUploadModal.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/app/Recordings/RecordingActions.tsx
  src/app/Recordings/Recordings.tsx
  src/app/Recordings/RecordingsTable.tsx
  src/app/Recordings/ReportFrame.tsx
  src/app/routes.tsx
Labels: fix

#301 fix(login): do not re-attempt ws connection on auth fail
  src/app/Login/Login.tsx
  src/app/Shared/Services/NotificationChannel.service.tsx
  src/app/routes.tsx
Labels: fix, backport

#305 fix(notifications): handle Error type messages
  src/app/Notifications/Notifications.tsx
Labels: fix, backport

#308 chore(deps): upgrade all deps
  package.json
  src/app/Shared/Services/Api.service.tsx
  src/app/Shared/Services/NotificationChannel.service.tsx
  src/app/Shared/Services/Report.service.tsx
  src/app/TargetSelect/TargetSelect.tsx
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
  yarn.lock
Labels: chore
