Repository cryostatio/cryostat-web, pull requests merged in 2021-10, with the labels that each got.

#310 fix(notifications): Fix notifications url request failure handling
  src/app/Shared/Services/NotificationChannel.service.tsx
Labels: fix, backport

#315 fix(targets): Deselect nonexistent target
  src/app/TargetSelect/TargetSelect.tsx
Labels: fix

#316 feat(AppLayout): Group related menu links together
  src/app/AppLayout/AppLayout.tsx
  src/app/routes.tsx
Labels: enhancement

#261 feat(auth): Store credentials in sessionStorage
  src/app/AppLayout/AppLayout.tsx
  src/app/Login/BasicAuthForm.tsx
  src/app/Login/BearerAuthForm.tsx
  src/app/Login/FormProps.tsx
  src/app/Login/Login.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Shared/Services/Login.service.tsx
  src/app/Shared/Services/NotificationChannel.service.tsx
  src/app/Shared/Services/Services.tsx
  src/app/Shared/Services/Targets.service.tsx
  src/app/TargetSelect/TargetSelect.tsx
  src/app/routes.tsx
Labels: enhancement

#333 fix(archiveuploads): display prompt on cancel or navigation
  src/app/Recordings/ArchiveUploadModal.tsx
  src/app/Recordings/CancelUploadModal.tsx
  src/app/Shared/Services/Api.service.tsx
Labels: fix, feat, backport
