Repository cryostatio/cryostat-web, pull requests merged in 2022-01, with the labels that each got.

#356 fix(notifications): Show newest unread notification first
  src/app/AppLayout/AppLayout.tsx
Labels: fix

#357 feat(targets): Add example JMX service url
  src/app/TargetSelect/CreateTargetModal.tsx
Labels: feat

#358 fix(targets): Validate connectUrl before submission
  src/app/TargetSelect/CreateTargetModal.tsx
Labels: fix

#360 fix(reports): Delete cached report upon archived recording deletion
  src/app/Recordings/ArchivedRecordingsTable.tsx
Labels: fix

#361 fix(notifications): Show stopped recording notification
  src/app/Shared/Services/NotificationChannel.service.tsx
Labels: fix

#355 feat(auth): Add OAuth logout
  src/app/AppLayout/AppLayout.tsx
  src/app/Login/OpenShiftPlaceholderAuthForm.tsx
  src/app/Shared/Services/Login.service.tsx
Labels: feat

#364 chore(devserver): set server authority to localhost
  .env
Labels: chore
