Repository cryostatio/cryostat-web, pull requests merged in 2022-09, with the labels that each got.

#502 fix(targets): disable delete button on non-custom targets
  src/app/TargetSelect/TargetSelect.tsx
  src/test/Rules/__snapshots__/CreateRule.test.tsx.snap
  src/test/Targets/TargetSelect.test.tsx
Labels: fix

#473 fix(labels): edit labels for distinct recordings with identical file names
  src/app/RecordingMetadata/BulkEditLabels.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/app/Shared/Services/Api.service.tsx
  src/test/RecordingMetadata.tsx/BulkEditLabels.test.tsx
Labels: fix, needs-documentation

#511 fix(recordings): labels should be applied to created recordings
  src/app/CreateRecording/CustomRecordingForm.tsx
Labels: fix

#513 feat(metadata): downloading recordings also download associated metadata
  src/app/Shared/Services/Api.service.tsx
  src/app/utils/utils.ts
Labels: feat

#515 fix(about): correct logo height using \!important override
  src/app/app.css
Labels: fix

#519 fix(archive): correct nested data structure for GraphQL archive queries
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/test/Recordings/ArchivedRecordingsTable.test.tsx
Labels: fix

#520 ci(github): copy linked and dependent issues workflows
  .github/workflows/dependent-issues.yml
  .github/workflows/linked-issue.yml
  .github/workflows/pr-labeled.yml
Labels: ci

#518 feat(graphql): add aggregate information for active recordings in the GraphQL API
  src/app/Shared/Services/Api.service.tsx
Labels: feat, dependent

#499 fix(archives): use target-specific archive API endpoints
  src/app/Archives/Archives.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/app/Recordings/RecordingActions.tsx
  src/app/Shared/Services/Api.service.tsx
  src/test/Recordings/ArchivedRecordingsTable.test.tsx
Labels: fix

#529 chore(hooks): update useSubscriptions to reduce re-rendering
  src/app/utils/useSubscriptions.ts
Labels: chore
