Repository cryostatio/cryostat-web, pull requests merged in 2022-07, with the labels that each got.

#476 feat(rules): implement initialDelay
  src/app/Rules/CreateRule.tsx
  src/app/Rules/Rules.tsx
  src/test/Rules/CreateRule.test.tsx
  src/test/Rules/Rules.test.tsx
  src/test/Rules/__snapshots__/CreateRule.test.tsx.snap
Labels: feat, needs-documentation

#484 fix(templates): delete custom event template no longer deletes default templates with similar name
  src/app/Events/EventTemplates.tsx
Labels: fix, needs-documentation

#483 fix(rules): automated rule creation now list eventTemplates based on target selector
  src/app/Rules/CreateRule.tsx
Labels: bug, fix

#487 feat(recording): include helperText for invalid recording names when creating new recordings with form
  src/app/CreateRecording/CustomRecordingForm.tsx
Labels: feat

#486 feat(recordings): Add search filters to target recording tables
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/app/Recordings/DateTimePicker.tsx
  src/app/Recordings/LabelFilter.tsx
  src/app/Recordings/NameFilter.tsx
  src/app/Recordings/RecordingFilters.tsx
  src/app/Recordings/RecordingsTable.tsx
  src/app/app.css
  src/test/Recordings/ActiveRecordingsTable.test.tsx
  src/test/Recordings/ArchivedRecordingsTable.test.tsx
  src/test/Recordings/__snapshots__/ActiveRecordingsTable.test.tsx.snap
  src/test/Recordings/__snapshots__/ArchivedRecordingsTable.test.tsx.snap
Labels: feat, needs-documentation
