Repository cryostatio/cryostat-web, pull requests merged in 2022-04, with the labels that each got.

#393 feat(tests): Setup unit testing framework
  .github/workflows/ci.yaml
  TESTING.md
  jest.config.js
  license-config.json
  package.json
  src/app/Recordings/Recordings.tsx
  src/app/__snapshots__/app.test.tsx.snap
  src/test/About/About.test.tsx
  src/test/About/__snapshots__/About.test.tsx.snap
  src/test/Recordings/Recordings.test.tsx
  src/test/Recordings/__snapshots__/Recordings.test.tsx.snap
  test-setup.js
  yarn.lock
Labels: feat

#404 fix(jmx): populate credentials table via notification only
  src/app/SecurityPanel/StoreJmxCredentials.tsx
Labels: fix

#405 fix(jmx): populate credentials table via notification only (#404)
  src/app/SecurityPanel/StoreJmxCredentials.tsx
Labels: fix

#406 ci(release): update CI for cryostat-v2.1 branch
  .github/workflows/ci.yaml
  .mergify.yml
Labels: ci, backport

#412 fix(loading): ensure loading spinners are displayed
  src/app/Events/EventTemplates.tsx
  src/app/Recordings/RecordingsTable.tsx
  src/app/Rules/Rules.tsx
  src/app/SecurityPanel/StoreJmxCredentials.tsx
Labels: fix, backport

#408 chore(tests): Add credentials table test
  TESTING.md
  src/app/SecurityPanel/SecurityPanel.tsx
  src/app/SecurityPanel/StoreJmxCredentials.tsx
  src/test/SecurityPanel/StoreJmxCredentials.test.tsx
  src/test/SecurityPanel/__snapshots__/StoreJmxCredentials.test.tsx.snap
Labels: chore

#417 fix(notfound): Update 404 page with missing routes
  src/app/NotFound/NotFound.tsx
  src/app/app.css
Labels: enhancement

#422 fix(archives): Only display archives for selected target
  src/app/Recordings/ArchivedRecordingsTable.tsx
Labels: fix, backport

#424 fix(labels): Prevent duplicate labels POST call
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Shared/Services/Api.service.tsx
Labels: fix, backport

#427 fix(snapshots): remove successful snapshot creation notification handling
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Shared/Services/NotificationChannel.service.tsx
Labels: enhancement
