Repository cryostatio/cryostat-web, pull requests merged in 2022-11, with the labels that each got.

#602 chore(events): use empty state if table is empty
  src/app/Agent/AgentLiveProbes.tsx
  src/app/Agent/AgentProbeTemplates.tsx
  src/app/Events/EventTemplates.tsx
  src/app/Events/EventTypes.tsx
  src/test/Agent/AgentLiveProbes.test.tsx
  src/test/Agent/AgentProbeTemplates.test.tsx
  src/test/Agent/__snapshots__/AgentLiveProbes.test.tsx.snap
  src/test/Events/EventTemplates.test.tsx
  src/test/Events/EventTypes.test.tsx
Labels: chore

#604 fix(recordings): correctly update recording tables on errors
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/test/Recordings/ArchivedRecordingsTable.test.tsx
Labels: chore, fix

#607 feat(labels): support multiple metadata label uploads
  src/app/RecordingMetadata/RecordingLabelFields.tsx
Labels: feat

#609 chore(toolbar): hide toolbar on errors
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/app/Recordings/RecordingsTable.tsx
  src/test/Recordings/ActiveRecordingsTable.test.tsx
  src/test/Recordings/ArchivedRecordingsTable.test.tsx
Labels: chore

#624 fix(label-upload): add error handler for metadata uploads
  src/app/Archives/ArchiveUploadModal.tsx
  src/app/RecordingMetadata/RecordingLabel.tsx
  src/app/RecordingMetadata/RecordingLabelFields.tsx
  src/test/Recordings/ArchivedRecordingsTable.test.tsx
Labels: fix

#626 chore(labels): add a helper text to label editor
  src/app/CreateRecording/CustomRecordingForm.tsx
  src/app/DurationPicker/DurationPicker.tsx
  src/test/CreateRecording/CustomRecordingForm.test.tsx
  src/test/CreateRecording/__snapshots__/CustomRecordingForm.test.tsx.snap
Labels: chore

#627 chore(deps-bot): set up Dependabot
  .github/CODEOWNERS
  .github/dependabot.yml
Labels: chore

#633 build(deps): remove unused express dep
  package.json
  yarn.lock
Labels: chore, build

#655 build(deps): remove unused @types/victory
  package.json
  yarn.lock
Labels: dependencies, chore, build

#672 fix(credentials): set backend storage as default
  src/app/Settings/CredentialsStorage.tsx
  src/app/Shared/Services/JmxCredentials.service.tsx
  src/test/Settings/CredentialsStorage.test.tsx
  src/test/Settings/__snapshots__/CredentialsStorage.test.tsx.snap
Labels: chore, fix, backport

#675 chore(auth): refactor auth form to avoid promise updates
  src/app/AppLayout/AppLayout.tsx
  src/app/AppLayout/AuthModal.tsx
  src/app/AppLayout/JmxAuthForm.tsx
  src/app/SecurityPanel/Credentials/CreateJmxCredentialModal.tsx
  src/app/SecurityPanel/Credentials/StoreJmxCredentials.tsx
  src/app/Shared/Services/Api.service.tsx
  src/test/SecurityPanel/Credentials/StoreJmxCredentials.test.tsx
Labels: chore

#676 chore(context): add notification context provider
  src/app/index.tsx
  src/test/Agent/AgentLiveProbes.test.tsx
  src/test/Agent/AgentProbeTemplates.test.tsx
  src/test/Archives/AllArchivedRecordingsTable.test.tsx
  src/test/Archives/AllTargetsArchivedRecordingsTable.test.tsx
  src/test/Archives/Archives.test.tsx
  src/test/Common.tsx
  src/test/CreateRecording/CustomRecordingForm.test.tsx
  src/test/Dashboard/Dashboard.test.tsx
  src/test/Events/EventTemplates.test.tsx
  src/test/Events/EventTypes.test.tsx
  src/test/RecordingMetadata.tsx/BulkEditLabels.test.tsx
  src/test/Recordings/Recordings.test.tsx
  src/test/Rules/CreateRule.test.tsx
  src/test/Rules/Rules.test.tsx
  src/test/SecurityPanel/Credentials/StoreJmxCredentials.test.tsx
  src/test/Settings/CredentialsStorage.test.tsx
  src/test/TargetSelect/TargetSelect.test.tsx
Labels: chore

#693 fix(rules): rename Automatic to Automated
  src/app/Rules/CreateRule.tsx
  src/app/Rules/RulesUploadModal.tsx
  src/test/Rules/Rules.test.tsx
Labels: fix, backport

#690 feat(github): add PR and issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .github/workflows/ci.yaml
  .mergify.yml
Labels: chore, feat

#697 chore(mergify): revert mergify to stop automatically adding needs-triage label
  .github/.labeler.yml
  .github/workflows/pr-labeler.yml
  .mergify.yml
Labels: fix
