Repository cryostatio/cryostat-web, pull requests merged in 2022-12, with the labels that each got.

#699 fix(labeler): fix labeler config file name
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: chore, fix

#702 fix(ci): add new workflow which checks if needs-triage is not present
  .github/workflows/check-labels.yml
  .github/workflows/ci.yaml
Labels: chore, ci, fix

#700 chore(requests): allow skipping status code check
  src/app/Shared/Services/Api.service.tsx
Labels: chore

#708 chore(agent): use notification message to patch template table
  src/app/Agent/AgentProbeTemplates.tsx
  src/test/Agent/AgentProbeTemplates.test.tsx
Labels: chore

#584 fix(agent): action menu should have flip enabled
  src/app/Agent/AgentProbeTemplates.tsx
  src/test/Agent/AgentProbeTemplates.test.tsx
  src/test/Agent/__snapshots__/AgentProbeTemplates.test.tsx.snap
Labels: chore, fix

#709 perf(agent-probe): patch state with notification and add spinner
  src/app/Agent/AgentLiveProbes.tsx
  src/app/Agent/AgentProbeTemplates.tsx
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/app/Shared/Services/Api.service.tsx
  src/test/Agent/AgentLiveProbes.test.tsx
  src/test/Agent/__snapshots__/AgentLiveProbes.test.tsx.snap
Labels: fix

#719 build(yarn): upgrade and migrate to yarn 3
  .github/workflows/ci.yaml
  .gitignore
  .yarn/releases/yarn-3.3.0.cjs
  .yarnrc.yml
  license-config.json
  package.json
  yarn.lock
Labels: chore, dependent, build

#691 feat(uploads): allow users to upload multiple files
  src/app/Agent/AgentLiveProbes.tsx
  src/app/Agent/AgentProbeTemplates.tsx
  src/app/Archives/ArchiveUploadModal.tsx
  src/app/Events/EventTemplates.tsx
  src/app/Modal/CancelUploadModal.tsx
  src/app/Rules/RulesUploadModal.tsx
  src/app/SecurityPanel/CertificateUploadModal.tsx
  src/app/Shared/FileUploads.tsx
  src/app/Shared/Services/Api.service.tsx
  src/test/Agent/AgentProbeTemplates.test.tsx
  src/test/Events/EventTemplates.test.tsx
  src/test/Events/__snapshots__/EventTemplates.test.tsx.snap
  src/test/Recordings/ArchivedRecordingsTable.test.tsx
  src/test/Rules/Rules.test.tsx
Labels: feat

#737 chore(eslint): add eslint plugins and rules to sort imports and remove unused imports
  .eslintrc
  package.json
  src/app/AppLayout/AppLayout.tsx
  src/app/AppLayout/JmxAuthForm.tsx
  src/app/Archives/AllTargetsArchivedRecordingsTable.tsx
  src/app/BreadcrumbPage/BreadcrumbPage.tsx
  src/app/Dashboard/AutomatedAnalysis/AutomatedAnalysisCard.tsx
  src/app/Notifications/NotificationCenter.tsx
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/app/Recordings/RecordingsTable.tsx
  src/app/TargetView/TargetView.tsx
  yarn.lock
Labels: chore

#738 feat(clipboard): add clipboard copy to some helper text fields
  src/app/Shared/MatchExpressionEvaluator.tsx
  src/app/TargetSelect/CreateTargetModal.tsx
  src/test/Rules/CreateRule.test.tsx
  src/test/Rules/__snapshots__/CreateRule.test.tsx.snap
Labels: feat

#745 feat(ci): add PR test images
  .github/workflows/image-cleanup.yml
  .github/workflows/pr-ci.yml
  .mergify.yml
Labels: ci, feat

#747 feat(dashboard): card configuration
  src/app/Dashboard/AddCard.tsx
  src/app/Dashboard/AutomatedAnalysis/AutomatedAnalysisCard.tsx
  src/app/Dashboard/Dashboard.tsx
  src/app/Shared/Redux/DashboardConfigActions.tsx
  src/app/Shared/Redux/DashboardConfigReducer.tsx
Labels: feat, safe-to-test

#760 fix(ci): small ci fixes
  .github/dependabot.yml
  .github/workflows/labeler.yml
Labels: ci, fix, safe-to-test

#767 fix(rules): fix rule form validation
  src/app/Rules/CreateRule.tsx
  src/test/Rules/CreateRule.test.tsx
Labels: fix, safe-to-test

#774 chore(featureflags): add dynamic flag wrapper component
  src/app/AppLayout/AppLayout.tsx
  src/app/Shared/FeatureFlag/FeatureFlag.tsx
Labels: chore, safe-to-test

#778 feat(rules): allow cleanup resources when disabling automated rules
  src/app/Agent/AgentLiveProbes.tsx
  src/app/Agent/AgentProbeTemplates.tsx
  src/app/Events/EventTemplates.tsx
  src/app/Modal/DeleteWarningModal.tsx
  src/app/Modal/DeleteWarningUtils.tsx
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/app/Rules/RuleDeleteWarningModal.tsx
  src/app/Rules/Rules.tsx
  src/app/SecurityPanel/Credentials/StoreJmxCredentials.tsx
  src/app/Settings/DeletionDialogControl.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Shared/Services/Settings.service.tsx
  src/app/TargetSelect/TargetSelect.tsx
  src/test/Events/EventTemplates.test.tsx
  src/test/Recordings/ActiveRecordingsTable.test.tsx
  src/test/Recordings/ArchivedRecordingsTable.test.tsx
  src/test/Rules/Rules.test.tsx
  src/test/SecurityPanel/Credentials/StoreJmxCredentials.test.tsx
Labels: feat, safe-to-test
