Repository cryostatio/cryostat-web, pull requests merged in 2022-03, with the labels that each got.

#385 fix(health): process health configured/available results
  src/app/Shared/Services/Api.service.tsx
Labels: fix

#386 chore(settings): refactor for dynamic settings cards
  src/app/Settings/AutoRefresh.tsx
  src/app/Settings/Settings.tsx
  src/app/Settings/WebSocketDebounce.tsx
Labels: chore

#383 feat(recordings): Add metadata recording labels
  src/app/CreateRecording/CustomRecordingForm.tsx
  src/app/CreateRecording/EditRecordingLabels.tsx
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/app/Recordings/RecordingActions.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Shared/Services/NotificationChannel.service.tsx
Labels: feat

#391 fix(notifications): handle labels nested within metadata
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
Labels: fix

#392 fix(recordings): disallow whitespace in labels
  src/app/CreateRecording/EditRecordingLabels.tsx
Labels: fix

#394 fix(rules): fix header concatenation
  src/app/Shared/Services/Api.service.tsx
Labels: fix

#401 fix(api): include Authorization header for all requests
  src/app/Shared/Services/Api.service.tsx
Labels: fix
