Repository cryostatio/cryostat-web, pull requests merged in 2022-10, with the labels that each got.

#531 fix(jest): fix mock systemtime setup
  src/test/Recordings/Filters/DateTimePicker.test.tsx
Labels: fix, test

#534 feat(target): show warning prompt when deleting custom targets
  src/app/Modal/DeleteWarningUtils.tsx
  src/app/TargetSelect/CreateTargetModal.tsx
  src/app/TargetSelect/TargetSelect.tsx
  src/test/Targets/TargetSelect.test.tsx
Labels: feat

#533 feat(rules): rules can be enabled/disabled
  src/app/Rules/CreateRule.tsx
  src/app/Rules/Rules.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Shared/Services/NotificationChannel.service.tsx
  src/test/Rules/CreateRule.test.tsx
  src/test/Rules/Rules.test.tsx
  src/test/Rules/__snapshots__/CreateRule.test.tsx.snap
Labels: feat, needs-documentation

#532 feat(archive): revamp archive-upload view
  src/app/Archives/ArchiveUploadModal.tsx
  src/app/Archives/Archives.tsx
  src/app/CreateRecording/CustomRecordingForm.tsx
  src/app/RecordingMetadata/BulkEditLabels.tsx
  src/app/RecordingMetadata/RecordingLabelFields.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/app/Recordings/RecordingLabelsPanel.tsx
  src/app/Shared/Services/Api.service.tsx
  src/test/Common.tsx
  src/test/RecordingMetadata.tsx/RecordingLabelFields.test.tsx
  src/test/RecordingMetadata.tsx/__snapshots__/RecordingLabelFields.test.tsx.snap
  src/test/Recordings/ActiveRecordingsTable.test.tsx
  src/test/Recordings/ArchivedRecordingsTable.test.tsx
  src/test/Recordings/RecordingFilters.test.tsx
Labels: chore, fix, feat

#540 feat(archive): display file size for archived recordings
  src/app/RecordingMetadata/BulkEditLabels.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/app/Recordings/Filters/LabelFilter.tsx
  src/app/Recordings/Filters/NameFilter.tsx
  src/app/Recordings/RecordingActions.tsx
  src/app/Recordings/RecordingFilters.tsx
  src/app/Recordings/RecordingsTable.tsx
  src/app/Recordings/ReportFrame.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Shared/Services/Report.service.tsx
  src/app/app.css
  src/app/utils/utils.ts
  src/test/RecordingMetadata.tsx/BulkEditLabels.test.tsx
  src/test/Recordings/ActiveRecordingsTable.test.tsx
  src/test/Recordings/ArchivedRecordingsTable.test.tsx
  src/test/Recordings/RecordingFilters.test.tsx
  src/test/Recordings/RecordingLabelsPanel.test.tsx
  src/test/Recordings/__snapshots__/ActiveRecordingsTable.test.tsx.snap
  src/test/Recordings/__snapshots__/ArchivedRecordingsTable.test.tsx.snap
Labels: fix, feat

#542 feat(recording): add form control for archiveOnStop
  src/app/CreateRecording/CustomRecordingForm.tsx
  src/app/Shared/Services/Api.service.tsx
Labels: feat

#543 fix(rules): show error view and modal when template retrieving fails
  src/app/AppLayout/AppLayout.tsx
  src/app/ErrorView/ErrorView.tsx
  src/app/Events/EventTemplates.tsx
  src/app/Events/EventTypes.tsx
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/app/Recordings/RecordingsTable.tsx
  src/app/Rules/CreateRule.tsx
  src/test/Recordings/RecordingsTable.test.tsx
  src/test/Rules/CreateRule.test.tsx
Labels: fix

#544 feat(auth): add retry button on auth failure
  src/app/ErrorView/ErrorView.tsx
  src/app/Events/EventTemplates.tsx
  src/app/Events/EventTypes.tsx
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/app/Recordings/Recordings.tsx
  src/app/Recordings/RecordingsTable.tsx
  src/app/Rules/CreateRule.tsx
  src/app/TargetSelect/TargetSelect.tsx
  src/test/Rules/CreateRule.test.tsx
  src/test/Rules/__snapshots__/CreateRule.test.tsx.snap
  src/test/Targets/TargetSelect.test.tsx
  src/test/Targets/__snapshots__/TargetSelect.test.tsx.snap
Labels: feat

#545 fix(auth): only show retry button for auth failures
  src/app/ErrorView/ErrorView.tsx
  src/app/Events/EventTemplates.tsx
  src/app/Events/EventTypes.tsx
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Recordings/RecordingActions.tsx
  src/app/Recordings/RecordingsTable.tsx
  src/app/Rules/CreateRule.tsx
  src/test/Common.tsx
  src/test/Events/EventTemplates.test.tsx
  src/test/Events/EventTypes.test.tsx
  src/test/Events/__snapshots__/EventTypes.test.tsx.snap
  src/test/Recordings/ActiveRecordingsTable.test.tsx
  src/test/Recordings/ArchivedRecordingsTable.test.tsx
Labels: chore, fix

#547 build(config): add build properties JSON file
  src/app/About/About.tsx
  src/app/About/AboutDescription.tsx
  src/app/build.json
  tsconfig.json
Labels: feat, build

#551 fix(archive): all-archive should properly display when refreshing
  src/app/Archives/AllTargetsArchivedRecordingsTable.tsx
  src/app/Archives/Archives.tsx
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/app/Shared/Services/Target.service.tsx
  src/test/Archives/AllTargetsArchivedRecordingsTable.test.tsx
Labels: chore, fix

#559 ci(tests): don't run tests twice
  .github/workflows/ci.yaml
Labels: ci, backport

#557 fix(recordings): fix recording filters from being cutoff in nested archived recordings tables
  src/app/Recordings/Filters/DateTimePicker.tsx
  src/app/Recordings/Filters/DurationFilter.tsx
  src/app/Recordings/Filters/LabelFilter.tsx
  src/app/Recordings/Filters/NameFilter.tsx
  src/app/Recordings/RecordingsTable.tsx
  src/app/SecurityPanel/Credentials/MatchedTargetsTable.tsx
  src/app/app.css
Labels: fix, backport

#558 feat(jmc-agent): add JMC Agent probes UI
  src/app/Agent/AgentLiveProbes.tsx
  src/app/Agent/AgentProbeTemplates.tsx
  src/app/Events/EventTemplates.tsx
  src/app/Events/Events.tsx
  src/app/Modal/DeleteWarningUtils.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Shared/Services/NotificationChannel.service.tsx
  src/test/Agent/AgentLiveProbes.test.tsx
  src/test/Agent/AgentProbeTemplates.test.tsx
  src/test/Agent/__snapshots__/AgentLiveProbes.test.tsx.snap
  src/test/Agent/__snapshots__/AgentProbeTemplates.test.tsx.snap
Labels: feat, backport

#566 fix(target): disable target creation if connectUrl is left empty
  src/app/Shared/Services/Target.service.tsx
  src/app/TargetSelect/CreateTargetModal.tsx
  src/app/TargetSelect/TargetSelect.tsx
  src/app/TargetView/TargetView.tsx
  src/app/utils/LocalStorage.ts
  src/test/Rules/CreateRule.test.tsx
  src/test/TargetSelect/TargetSelect.test.tsx
  src/test/TargetSelect/__snapshots__/TargetSelect.test.tsx.snap
Labels: chore, fix, backport

#569 fix(recordings): remove nested forms
  src/app/CreateRecording/CustomRecordingForm.tsx
Labels: fix, backport

#577 fix(target): add back target auto-refresh option
  src/app/TargetSelect/TargetSelect.tsx
Labels: fix, backport

#576 fix(archives): add ArchivedRecordingCreated notification hook to refresh All Archives view
  src/app/Archives/AllArchivedRecordingsTable.tsx
  src/test/Archives/AllArchivedRecordingsTable.test.tsx
Labels: fix, backport

#578 fix(match-exp): match-expression-evaluator handles non-empty match-expr with no target selected
  src/app/Shared/MatchExpressionEvaluator.tsx
Labels: fix, backport

#574 fix(filters): fix datetimepicker error text alignments
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/app/Recordings/Filters/DateTimePicker.tsx
  src/app/Recordings/RecordingFilters.tsx
Labels: fix, backport

#590 fix(agent): add margin bottom for probe template table
  src/app/Agent/AgentProbeTemplates.tsx
  src/test/Agent/__snapshots__/AgentProbeTemplates.test.tsx.snap
Labels: fix, backport

#588 build(webpack): code-split bundles and add content-hash to output files
  package.json
  src/app/About/About.tsx
  src/app/Archives/Archives.tsx
  src/app/CreateRecording/CreateRecording.tsx
  src/app/Dashboard/Dashboard.tsx
  src/app/Events/Events.tsx
  src/app/LoadingView/LoadingView.tsx
  src/app/Login/Login.tsx
  src/app/NotFound/NotFound.tsx
  src/app/Recordings/Recordings.tsx
  src/app/Rules/CreateRule.tsx
  src/app/Rules/Rules.tsx
  src/app/SecurityPanel/SecurityPanel.tsx
  src/app/Settings/Settings.tsx
  src/app/routes.tsx
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
  yarn.lock
Labels: chore, backport, build
