Repository cryostatio/cryostat-web, pull requests merged in 2022-06, with the labels that each got.

#450 chore(api): graphql is now in API v2.2, not beta
  src/app/Shared/Services/Api.service.tsx
Labels: chore

#457 ci(yarn): use registry.yarnpkg.com
  yarn.lock
Labels: dependencies, ci

#460 fix(navigation): fix unncessary page refresh when following breadcrumbs
  src/app/BreadcrumbPage/BreadcrumbPage.tsx
Labels: bug

#461 chore(navigation): remove breadcrumb href since replaced by Link
  src/app/BreadcrumbPage/BreadcrumbPage.tsx
Labels: chore

#470 ci(submodule): push update to parent submodule
  .github/workflows/submodule.yaml
Labels: ci, backport
