Repository cryostatio/cryostat-web, pull requests merged in 2023-02, with the labels that each got.

#842 chore(eslint): add eslint-webpack-plugin
  .gitignore
  package.json
  tsconfig.json
  webpack.dev.js
  yarn.lock
Labels: chore, safe-to-test

#846 fix(layout): fix content overflow
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/app/Recordings/Filters/DatetimeFilter.tsx
  src/app/Recordings/RecordingActions.tsx
  src/app/Recordings/RecordingFilters.tsx
  src/app/Recordings/Recordings.tsx
  src/app/Recordings/RecordingsTable.tsx
  src/app/Rules/Rules.tsx
  src/app/TargetView/TargetView.tsx
  src/test/Common.tsx
  src/test/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/test/Recordings/ActiveRecordingsTable.test.tsx
  src/test/Recordings/ArchivedRecordingsTable.test.tsx
  src/test/Recordings/__snapshots__/Recordings.test.tsx.snap
  src/test/Rules/__snapshots__/Rules.test.tsx.snap
Labels: fix, safe-to-test

#855 chore(dev): `ESLINT_ENABLE` option and `yarn start:dev:lint` script
  package.json
  webpack.dev.js
Labels: chore, safe-to-test

#859 fix(rules): action menu should not be inline
  src/app/Rules/Rules.tsx
  src/test/Rules/Rules.test.tsx
  src/test/Rules/__snapshots__/Rules.test.tsx.snap
Labels: fix, safe-to-test

#870 feat(dashboard): wrap cards in feature flag
  src/app/Dashboard/AddCard.tsx
  src/app/Dashboard/AutomatedAnalysis/AutomatedAnalysisCard.tsx
  src/app/Dashboard/Dashboard.tsx
Labels: feat, safe-to-test

#875 feat(dashboard): MBean numeric metrics card
  .eslintrc
  locales/en/public.json
  package.json
  src/app/Dashboard/Charts/ChartContext.tsx
  src/app/Dashboard/Charts/jfr/JFRMetricsChartCard.tsx
  src/app/Dashboard/Charts/jfr/JFRMetricsChartController.tsx
  src/app/Dashboard/Charts/mbean/MBeanMetricsChartCard.tsx
  src/app/Dashboard/Charts/mbean/MBeanMetricsChartController.tsx
  src/app/Dashboard/Dashboard.tsx
  src/app/Dashboard/i18n.ts
  src/app/Shared/Redux/Configurations/DashboardConfigSlicer.tsx
  src/test/Dashboard/Charts/jfr/JFRMetricsChartCard.test.tsx
  src/test/Dashboard/Charts/jfr/__snapshots__/JFRMetricsChartCard.test.tsx.snap
  src/test/Dashboard/Charts/mbean/MBeanMetricsChartCard.test.tsx
  src/test/Dashboard/Charts/mbean/__snapshots__/MBeanMetricsChartCard.test.tsx.snap
  yarn.lock
Labels: feat, safe-to-test
