Repository cryostatio/cryostat-web, pull requests merged in 2023-01, with the labels that each got.

#791 build(webpack): cache production builds
  .gitignore
  webpack.common.js
  webpack.prod.js
Labels: ci, build, safe-to-test

#801 feat(login): allow anonymous access to specific views
  package.json
  src/app/routes.tsx
  yarn.lock
Labels: feat, safe-to-test

#806 fix(target): update target selection cache
  src/app/TargetSelect/TargetSelect.tsx
Labels: fix, safe-to-test

#811 fix(recordings): fix recording table displays
  src/app/Archives/Archives.tsx
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
Labels: chore, fix, safe-to-test

#813 fix(dashboard): allow cards to overflow when resized
  src/app/Dashboard/Dashboard.tsx
  src/app/Dashboard/DraggableRef.tsx
Labels: fix, safe-to-test

#812 feat(target): add target event kind for modified state
  src/app/Shared/Services/NotificationChannel.service.tsx
  src/app/Shared/Services/Targets.service.tsx
Labels: feat, safe-to-test

#820 fix(archives): fix duplicate archived recording displays
  src/app/Archives/AllTargetsArchivedRecordingsTable.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/app/Recordings/Recordings.tsx
  src/test/Archives/AllTargetsArchivedRecordingsTable.test.tsx
Labels: fix, safe-to-test

#829 feat(dashboard): allow drag-and-drop reordering of dashboard cards
  src/app/Dashboard/AddCard.tsx
  src/app/Dashboard/AutomatedAnalysis/AutomatedAnalysisCard.tsx
  src/app/Dashboard/Dashboard.tsx
  src/app/Dashboard/DashboardCard.tsx
  src/app/Dashboard/DraggableRef.tsx
  src/app/Dashboard/ResizableRef.tsx
  src/app/Shared/Redux/Configurations/DashboardConfigSlicer.tsx
  src/app/app.css
  src/app/utils/utils.ts
  src/test/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Labels: feat, safe-to-test
