Repository cryostatio/cryostat-web, pull requests merged in 2023-06, with the labels that each got.

#1044 chore(eslint): apply eslint fixes and remove unused codes
  src/app/About/AboutCryostatModal.tsx
  src/app/About/AboutDescription.tsx
  src/app/Dashboard/AutomatedAnalysis/ClickableAutomatedAnalysisLabel.tsx
  src/app/Dashboard/DashboardCardActionMenu.tsx
  src/app/Dashboard/DashboardLayoutToolbar.tsx
  src/app/Dashboard/DraggableRef.tsx
  src/app/Dashboard/ResizableRef.tsx
  src/app/DateTimePicker/TimezonePicker.tsx
  src/app/Events/EventTemplates.tsx
  src/app/Login/OpenShiftPlaceholderAuthForm.tsx
  src/app/Modal/CancelUploadModal.tsx
  src/app/NotFound/NotFound.tsx
  src/app/Notifications/NotificationCenter.tsx
  src/app/QuickStarts/QuickStartsCatalogPage.tsx
  src/app/RecordingMetadata/BulkEditLabels.tsx
  src/app/RecordingMetadata/ClickableLabel.tsx
  src/app/RecordingMetadata/LabelCell.tsx
  src/app/RecordingMetadata/RecordingLabelFields.tsx
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Recordings/Filters/DatetimeFilter.tsx
  src/app/Recordings/Filters/LabelFilter.tsx
  src/app/Recordings/Filters/NameFilter.tsx
  src/app/Recordings/Filters/RecordingStateFilter.tsx
  src/app/Recordings/RecordingActions.tsx
  src/app/Recordings/RecordingLabelsPanel.tsx
  src/app/Recordings/RecordingsTable.tsx
  src/app/Recordings/ReportFrame.tsx
  src/app/SecurityPanel/CertificateUploadModal.tsx
  src/app/SecurityPanel/Credentials/CreateCredentialModal.tsx
  src/app/SecurityPanel/Credentials/MatchedTargetsTable.tsx
  src/app/SecurityPanel/SecurityPanel.tsx
  src/app/Settings/SettingsUtils.ts
  src/app/Shared/FeatureFlag/FeatureFlag.tsx
  src/app/Shared/FileUploads.tsx
  src/app/Shared/SelectTemplateSelectorForm.tsx
  src/app/Shared/SerializedTarget.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Shared/Services/Login.service.tsx
  src/app/Shared/Services/NotificationChannel.service.tsx
  src/app/Shared/TargetSelect.tsx
  src/app/TargetView/NoTargetSelected.tsx
  src/app/TargetView/TargetView.tsx
  src/app/Topology/Actions/NodeActions.tsx
  src/app/Topology/Shared/TranslatedText.tsx
  src/app/Topology/Toolbar/TopologyToolbar.tsx
  src/app/index.tsx
  src/app/routes.tsx
  src/test/resources/mockDiscoveryResponse.json
Labels: chore, fix, safe-to-test

#1045 feat(ci): live deployment for main
  .github/workflows/ci-preview.yml
Labels: ci, feat, safe-to-test

#1046 feat(ci): enable manual trigger of preview CI
  .github/workflows/ci-preview.yml
Labels: ci, feat, safe-to-test

#1049 chore(topology): disable group node actions while checking
  src/app/Topology/Actions/NodeActions.tsx
Labels: chore, safe-to-test

#1048 fix(topology): warning resolver should include adding ssl certs
  src/app/SecurityPanel/ImportCertificate.tsx
  src/app/Topology/Shared/Entity/EntityDetails.tsx
  src/app/Topology/Shared/utils.tsx
Labels: fix, backport, safe-to-test

#1051 docs(README): update README
  README.md
  TESTING.md
Labels: docs, safe-to-test

#1054 fix(ci): preview ci should target all under src
  .github/workflows/ci-preview.yml
Labels: ci, fix, safe-to-test

#1056 test(selenium): add selenium web-driver e2e integration test scaffolding
  .github/workflows/ci.yaml
  .github/workflows/pr-ci.yml
  TESTING.md
  jest.config.js
  package.json
  src/app/Topology/Shared/Entity/EntityDetails.tsx
  src/itest/Dashboard.test.ts
  src/itest/util.ts
  yarn.lock
Labels: chore, test, safe-to-test

#1057 chore(agent): use consistent notification field
  src/app/Agent/AgentProbeTemplates.tsx
  src/test/Agent/AgentProbeTemplates.test.tsx
Labels: chore, backport, dependent, safe-to-test
