Repository cryostatio/cryostat-web, pull requests merged in 2023-08, with the labels that each got.

#1069 feat(match-expression): match expression should be evaluated on backend
  src/app/Rules/CreateRule.tsx
  src/app/SecurityPanel/Credentials/CreateCredentialModal.tsx
  src/app/SecurityPanel/Credentials/CredentialTestTable.tsx
  src/app/SecurityPanel/Credentials/StoreCredentials.tsx
  src/app/Shared/MatchExpression/MatchExpressionVisualizer.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Topology/GraphView/CustomNode.tsx
  src/app/Topology/GraphView/TopologyGraphView.tsx
  src/app/Topology/ListView/TopologyListView.tsx
  src/app/Topology/ListView/UtilsFactory.tsx
  src/app/Topology/Shared/utils.tsx
  src/app/Topology/Toolbar/FindByMatchExpression.tsx
  src/app/utils/utils.ts
  src/test/Rules/CreateRule.test.tsx
  src/test/SecurityPanel/Credentials/StoreCredentials.test.tsx
Labels: feat, safe-to-test

#1043 fix(modal): Warning modal for disabling rule should say "disable" instead of "delete"
  src/app/Modal/DeleteWarningUtils.tsx
Labels: fix, backport, safe-to-test

#1081 fix(cards): replace instances of card.component.name
  src/app/Dashboard/AddCard.tsx
  src/app/Dashboard/AutomatedAnalysis/AutomatedAnalysisCard.tsx
  src/app/Dashboard/Charts/jfr/JFRMetricsChartCard.tsx
  src/app/Dashboard/Charts/mbean/MBeanMetricsChartCard.tsx
  src/app/Dashboard/ErrorCard.tsx
  src/app/Dashboard/JvmDetails/JvmDetailsCard.tsx
  src/app/Dashboard/LayoutTemplateUploadModal.tsx
  src/app/Dashboard/dashboard-utils.tsx
  src/app/Shared/Redux/Configurations/DashboardConfigSlice.tsx
Labels: fix, safe-to-test

#1082 chore(about): link to full license file
  src/app/build.json
Labels: chore, safe-to-test

#1084 fix(semver): use semver util to check version upgrades
  package.json
  src/app/utils/utils.ts
  yarn.lock
Labels: fix, safe-to-test

#1085 build(ts): eliminate duplicate helper code
  package.json
  tsconfig.json
  yarn.lock
Labels: feat, build, safe-to-test

#1087 chore(ts): fix typescript type-checking errors
  .github/workflows/ci.yaml
  locales/en/common.json
  package.json
  src/app/Dashboard/AutomatedAnalysis/AutomatedAnalysisCard.tsx
  src/app/Dashboard/AutomatedAnalysis/AutomatedAnalysisFilters.tsx
  src/app/Dashboard/AutomatedAnalysis/Filters/AutomatedAnalysisScoreFilter.tsx
  src/app/Dashboard/Dashboard.tsx
  src/app/Recordings/RecordingFilters.tsx
  src/app/Settings/Language.tsx
  src/app/Settings/SettingsUtils.ts
  src/app/Shared/Redux/Configurations/DashboardConfigSlice.tsx
  src/app/Shared/Redux/Configurations/TopologyConfigSlice.tsx
  src/app/Shared/Redux/Filters/AutomatedAnalysisFilterSlice.tsx
  src/app/Shared/Redux/Filters/RecordingFilterSlice.tsx
  src/app/Shared/Redux/ReduxStore.tsx
  src/app/Shared/Redux/utils.ts
  src/app/Topology/Shared/utils.tsx
  src/test/Common.tsx
  src/test/Dashboard/AutomatedAnalysis/AutomatedAnalysisCard.test.tsx
  src/test/Dashboard/AutomatedAnalysis/Filters/AutomatedAnalysisScoreFilter.test.tsx
  src/test/Dashboard/Charts/mbean/__snapshots__/MBeanMetricsChartCard.test.tsx.snap
  src/test/DateTimePicker/DateTimePicker.test.tsx
  src/test/DateTimePicker/MeridiemPicker.test.tsx
  src/test/DateTimePicker/TimePicker.test.tsx
  src/test/Recordings/ActiveRecordingsTable.test.tsx
  src/test/Recordings/ArchivedRecordingsTable.test.tsx
  src/test/Recordings/RecordingFilters.test.tsx
  src/test/Rules/CreateRule.test.tsx
  src/test/Shared/Services/Login.service.test.tsx
  tsconfig.json
Labels: chore, build, safe-to-test

#1078 feat(web): enable clear all dashboard cards
  locales/en/common.json
  locales/en/public.json
  src/app/Dashboard/DashboardLayoutToolbar.tsx
  src/app/Modal/DeleteWarningModal.tsx
  src/app/Modal/DeleteWarningUtils.tsx
  src/app/Shared/Redux/Configurations/DashboardConfigSlice.tsx
  src/app/Shared/Redux/ReduxStore.tsx
  src/test/Settings/__snapshots__/DeletionDialogControl.test.tsx.snap
Labels: feat, safe-to-test

#1062 chore(itests): add more integration tests and fix CI integration
  LOCALIZATION.md
  README.md
  TESTING.md
  license-config.json
  package.json
  src/itest/Dashboard.test.ts
  src/itest/RecordingWorkflow.test.ts
  src/itest/util.ts
Labels: chore, fix, safe-to-test

#1096 fix(web): rename connection debounce to connection retry interval
  locales/en/public.json
Labels: fix, safe-to-test

#1097 feat(ci): /build_test PR command
  .github/workflows/pr-ci.yml
Labels: feat, safe-to-test

#1047 feat(ci): allow preview deployment on release branches
  .github/workflows/ci-preview.yml
Labels: ci, feat, backport, blocked, safe-to-test
