Repository cryostatio/cryostat-web, pull requests merged in 2023-10, with the labels that each got.

#1124 ci(submodule): remove bot user git configurations
  .github/workflows/submodule.yaml
Labels: ci, safe-to-test

#1125 build(deps): bump @typescript-eslint deps to 6.7.3
  package.json
  yarn.lock
Labels: dependencies, chore, safe-to-test

#1132 chore(release): bump versions for 2.4.0 release
  .mergify.yml
  package.json
  src/app/build.json
Labels: chore, safe-to-test

#1133 chore(release): set versions for 2.4.0 release
  package.json
  src/app/build.json
Labels: chore, safe-to-test

#1119 feat(jvmid): enhance UI hints when JVM ID cannot be generated
  src/app/SecurityPanel/CertificateUploadModal.tsx
  src/app/SecurityPanel/Credentials/StoreCredentials.tsx
  src/app/SecurityPanel/ImportCertificate.tsx
  src/app/SecurityPanel/SecurityPanel.tsx
  src/app/SecurityPanel/types.ts
  src/app/Shared/Components/FileUploads.tsx
  src/app/Shared/Components/JmxAuthDescription.tsx
  src/app/Shared/Components/JmxSslDescription.tsx
  src/app/Shared/Components/types.ts
  src/app/Topology/Entity/EntityDetails.tsx
  src/app/Topology/Shared/utils.tsx
  src/test/Agent/AgentProbeTemplates.test.tsx
  src/test/Events/EventTemplates.test.tsx
  src/test/Recordings/ArchivedRecordingsTable.test.tsx
  src/test/Rules/Rules.test.tsx
Labels: feat, backport, safe-to-test

#1141 chore(deps): remove unused enzyme deps and fix deps incompatibility
  jest.config.js
  package.json
  src/app/SecurityPanel/Credentials/StoreCredentials.tsx
  src/app/SecurityPanel/ImportCertificate.tsx
  yarn.lock
Labels: dependencies, chore, safe-to-test

#1139 chore(credentials): clean up UI text
  src/app/SecurityPanel/Credentials/StoreCredentials.tsx
  src/app/Shared/Components/JmxAuthDescription.tsx
Labels: chore, backport, safe-to-test

#1149 ci(dependabot): remove reviewers config
  .github/CODEOWNERS
  .github/dependabot.yml
Labels: ci, safe-to-test

#1127 chore(recordings): remove subdirectory for jvmId in recording requests
  src/app/Shared/Services/Api.service.tsx
  src/app/utils/utils.ts
Labels: chore, backport, dependent, safe-to-test

#1126 chore(recordings): check target's jvmId for recording events
  src/app/Agent/AgentLiveProbes.tsx
  src/app/RecordingMetadata/BulkEditLabels.tsx
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/app/Shared/Services/api.types.ts
  src/mirage/index.ts
  src/test/Agent/AgentLiveProbes.test.tsx
  src/test/RecordingMetadata/BulkEditLabels.test.tsx
  src/test/Recordings/ActiveRecordingsTable.test.tsx
  src/test/Recordings/ArchivedRecordingsTable.test.tsx
Labels: chore, backport, dependent, safe-to-test
