Repository cryostatio/cryostat-web, pull requests merged in 2023-03, with the labels that each got.

#904 fix(agent): patch event should consider current target selection
  src/app/Agent/AgentLiveProbes.tsx
Labels: fix, safe-to-test

#905 feat(dashboard): full view dashboard card
  locales/en/common.json
  src/app/BreadcrumbPage/BreadcrumbPage.tsx
  src/app/Dashboard/AutomatedAnalysis/AutomatedAnalysisCard.tsx
  src/app/Dashboard/Charts/jfr/JFRMetricsChartCard.tsx
  src/app/Dashboard/Charts/mbean/MBeanMetricsChartCard.tsx
  src/app/Dashboard/DashBoardSolo.tsx
  src/app/Dashboard/Dashboard.tsx
  src/app/Dashboard/DashboardCard.tsx
  src/app/Dashboard/DashboardCardActionMenu.tsx
  src/app/Dashboard/Quickstart/QuickStartsCard.tsx
  src/app/Shared/MatchExpressionEvaluator.tsx
  src/app/Topology/Shared/utils.tsx
  src/app/routes.tsx
  src/test/Dashboard/Charts/jfr/__snapshots__/JFRMetricsChartCard.test.tsx.snap
  src/test/Dashboard/Charts/mbean/__snapshots__/MBeanMetricsChartCard.test.tsx.snap
Labels: feat, safe-to-test

#907 fix(topology): custom target submission should also send credentials
  src/app/Shared/Services/Api.service.tsx
  src/app/TargetSelect/CreateTargetModal.tsx
  src/app/Topology/Actions/CreateTarget.tsx
Labels: fix, safe-to-test

#896 feat(dashboard): add JVM Details card
  locales/en/public.json
  src/app/Dashboard/Charts/mbean/MBeanMetricsChartCard.tsx
  src/app/Dashboard/Charts/mbean/MBeanMetricsChartController.tsx
  src/app/Dashboard/Dashboard.tsx
  src/app/Dashboard/JvmDetails/JvmDetailsCard.tsx
  src/app/Dashboard/i18n.ts
  src/app/Shared/Services/Api.service.tsx
  src/app/Topology/Actions/NodeActions.tsx
  src/app/Topology/Shared/Entity/EntityDetails.tsx
  src/app/Topology/Shared/utils.tsx
  src/test/Dashboard/Charts/mbean/MBeanMetricsChartCard.test.tsx
Labels: feat, safe-to-test

#906 feat(topology): group node actions
  src/app/Dashboard/JvmDetails/JvmDetailsCard.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Topology/Actions/NodeActions.tsx
  src/app/Topology/GraphView/CustomGroup.tsx
  src/app/Topology/GraphView/UtilsFactory.tsx
  src/app/Topology/ListView/UtilsFactory.tsx
  src/app/Topology/Shared/Entity/EntityDetails.tsx
  src/app/Topology/Shared/Entity/utils.ts
  src/app/Topology/Shared/utils.tsx
  src/app/Topology/Topology.tsx
  src/app/Topology/styles/base.css
  src/app/Topology/typings.ts
Labels: feat, safe-to-test

#917 fix(topology): add missing callbacks to empty state actions
  src/app/Topology/Shared/TopologyEmptyState.tsx
Labels: fix, safe-to-test

#921 feat(topology): expanded row for resource details
  src/app/Topology/Actions/CreateTarget.tsx
  src/app/Topology/GraphView/CustomNode.tsx
  src/app/Topology/GraphView/NodeDecorator.tsx
  src/app/Topology/Shared/Entity/EntityDetails.tsx
  src/app/Topology/Shared/Entity/EntityTitle.tsx
  src/app/Topology/Shared/Entity/utils.tsx
  src/app/Topology/Shared/HintBanner.tsx
  src/app/Topology/Toolbar/QuickSearchButton.tsx
  src/app/Topology/Toolbar/TopologyToolbar.tsx
  src/app/app.css
  src/app/index.tsx
Labels: feat, safe-to-test

#927 fix(webpack): revert code splitting routes
  package.json
  src/app/app.css
  src/app/routes.tsx
  webpack.common.js
  yarn.lock
Labels: fix, safe-to-test

#930 fix(topology): mini quicksearch should check active feature level
  src/app/Topology/Actions/QuickSearchPanel.tsx
  src/app/Topology/Actions/utils.ts
Labels: chore, fix, safe-to-test

#924 feat(tables): sortable tables
  src/app/Archives/AllArchivedRecordingsTable.tsx
  src/app/Events/EventTypes.tsx
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/app/Recordings/RecordingsTable.tsx
  src/app/SecurityPanel/Credentials/CredentialTestTable.tsx
  src/app/SecurityPanel/Credentials/MatchedTargetsTable.tsx
  src/app/SecurityPanel/Credentials/StoreCredentials.tsx
  src/app/utils/useSort.ts
  src/app/utils/utils.ts
  src/test/Archives/AllArchivedRecordingsTable.test.tsx
  src/test/Archives/__snapshots__/AllArchivedRecordingsTable.test.tsx.snap
  src/test/Events/__snapshots__/EventTypes.test.tsx.snap
  src/test/Recordings/RecordingsTable.test.tsx
  src/test/SecurityPanel/Credentials/StoreCredentials.test.tsx
  src/test/SecurityPanel/Credentials/__snapshots__/StoreCredentials.test.tsx.snap
Labels: feat, safe-to-test
