Repository cryostatio/cryostat-web, pull requests merged in 2023-12, with the labels that each got.

#1171 chore(ci): request necessary permissions
  .github/workflows/ci.yaml
  .github/workflows/dependent-issues.yml
  .github/workflows/image-cleanup.yml
  .github/workflows/labeler.yml
  .github/workflows/linked-issue.yml
  .github/workflows/pr-ci.yml
  .github/workflows/pr-labeled.yml
  .github/workflows/release-drafter.yml
  .github/workflows/semantic-pr.yml
Labels: ci, safe-to-test

#1176 chore(build): set versions for 2.4.0 release
  package.json
  src/app/build.json
Labels: chore, safe-to-test

#1177 ci(release-notes): replace release-drafter with release labels config
  .github/release-drafter.yml
  .github/release.yml
  .github/workflows/release-drafter.yml
Labels: ci, safe-to-test

#1175 fix(requests): use relative request paths
  src/app/Shared/Services/Login.service.tsx
  src/index.html
  src/mirage/index.ts
  src/test/Shared/Services/Login.service.test.tsx
  webpack.common.js
Labels: fix, backport, safe-to-test

#1182 ci(submodule): remove config for updating old 2.x repo
  .github/workflows/submodule.yaml
Labels: ci, backport, build, safe-to-test

#1187 chore(about): set up links and version parsing for 3.0
  package.json
  src/app/About/AboutDescription.tsx
  src/app/build.json
Labels: chore, safe-to-test

#1181 feat(auth): remove auth negotiation and JMX credentials passthrough
  src/app/AppLayout/AppLayout.tsx
  src/app/Login/BasicAuthForm.tsx
  src/app/Login/Login.tsx
  src/app/Login/NoopAuthForm.tsx
  src/app/Login/OpenShiftPlaceholderAuthForm.tsx
  src/app/Settings/Config/AutomatedAnalysis.tsx
  src/app/Settings/Settings.tsx
  src/app/Settings/types.ts
  src/app/Shared/Services/Api.service.tsx
  src/app/Shared/Services/Login.service.tsx
  src/app/Shared/Services/NotificationChannel.service.tsx
  src/app/Shared/Services/Report.service.tsx
  src/app/Shared/Services/Services.tsx
  src/app/Shared/Services/api.types.ts
  src/app/Shared/Services/service.types.ts
  src/app/routes.tsx
  src/app/utils/hooks/useLogin.ts
  src/mirage/index.ts
  src/test/Shared/Services/Login.service.test.tsx
Labels: feat, safe-to-test
