Repository cryostatio/cryostat-web, pull requests merged in 2023-04, with the labels that each got.

#935 fix(topology): scrollable detail sidebar
  src/app/Shared/MatchExpression/MatchExpressionVisualizer.tsx
  src/app/Topology/Actions/WarningResolver.tsx
  src/app/Topology/GraphView/TopologyGraphView.tsx
  src/app/Topology/Shared/Entity/EntityDetails.tsx
  src/app/Topology/SideBar/TopologySideBar.tsx
  src/app/Topology/Topology.tsx
  src/app/Topology/styles/base.css
Labels: chore, fix, safe-to-test

#934 feat(router): routable views
  src/app/AppLayout/AppLayout.tsx
  src/app/Archives/Archives.tsx
  src/app/Events/Events.tsx
  src/app/Recordings/Recordings.tsx
  src/app/Recordings/RecordingsTable.tsx
  src/app/Settings/AutoRefresh.tsx
  src/app/Settings/AutomatedAnalysisConfig.tsx
  src/app/Settings/ChartCardsConfig.tsx
  src/app/Settings/CredentialsStorage.tsx
  src/app/Settings/DatetimeControl.tsx
  src/app/Settings/DeletionDialogControl.tsx
  src/app/Settings/FeatureLevels.tsx
  src/app/Settings/Language.tsx
  src/app/Settings/NotificationControl.tsx
  src/app/Settings/Settings.tsx
  src/app/Settings/SettingsUtils.ts
  src/app/Settings/Theme.tsx
  src/app/Settings/WebSocketDebounce.tsx
  src/app/Topology/Shared/Entity/utils.tsx
  src/app/app.css
  src/app/utils/utils.ts
  src/test/Archives/Archives.test.tsx
  src/test/Archives/__snapshots__/Archives.test.tsx.snap
  src/test/Recordings/Recordings.test.tsx
  src/test/Recordings/__snapshots__/Recordings.test.tsx.snap
  src/test/Settings/Settings.test.tsx
Labels: chore, feat, safe-to-test

#937 feat(dashboard): dashboard card catalog
  README.md
  locales/en/common.json
  locales/en/public.json
  src/app/Dashboard/AddCard.tsx
  src/app/Dashboard/AutomatedAnalysis/AutomatedAnalysisCard.tsx
  src/app/Dashboard/Charts/jfr/JFRMetricsChartCard.tsx
  src/app/Dashboard/Charts/jfr/JFRMetricsChartController.tsx
  src/app/Dashboard/Charts/mbean/MBeanMetricsChartCard.tsx
  src/app/Dashboard/Charts/mbean/MBeanMetricsChartController.tsx
  src/app/Dashboard/Dashboard.tsx
  src/app/Dashboard/DashboardCard.tsx
  src/app/Dashboard/DashboardLayoutConfig.tsx
  src/app/Dashboard/JvmDetails/JvmDetailsCard.tsx
  src/app/QuickStarts/QuickStartDrawer.tsx
  src/app/QuickStarts/quickstarts/dashboard-quickstart.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Topology/Actions/NodeActions.tsx
  src/app/Topology/Shared/Entity/utils.tsx
  src/app/Topology/SideBar/TopologySideBar.tsx
  src/app/Topology/Toolbar/QuickSearchButton.tsx
  src/app/Topology/Toolbar/TopologyToolbar.tsx
  src/app/Topology/styles/base.css
  src/app/app.css
  src/app/utils/fakeData.ts
  src/test/Dashboard/DashboardLayoutConfig.test.tsx
  src/test/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Labels: chore, feat, safe-to-test

#939 fix(settings): lazy load timezones
  locales/en/common.json
  src/app/DateTimePicker/TimezonePicker.tsx
Labels: fix, safe-to-test

#933 feat(dashboard): add dashboard layout template selector
  .eslintrc
  locales/en/common.json
  locales/en/public.json
  src/app/Dashboard/AddCard.tsx
  src/app/Dashboard/AutomatedAnalysis/AutomatedAnalysisCard.tsx
  src/app/Dashboard/Charts/jfr/JFRMetricsChartCard.tsx
  src/app/Dashboard/Charts/mbean/MBeanMetricsChartCard.tsx
  src/app/Dashboard/Dashboard.tsx
  src/app/Dashboard/DashboardCard.tsx
  src/app/Dashboard/DashboardLayoutCreateModal.tsx
  src/app/Dashboard/DashboardLayoutSetAsTemplateModal.tsx
  src/app/Dashboard/DashboardLayoutToolbar.tsx
  src/app/Dashboard/DashboardSolo.tsx
  src/app/Dashboard/DraggableRef.tsx
  src/app/Dashboard/JvmDetails/JvmDetailsCard.tsx
  src/app/Dashboard/LayoutTemplateGroup.tsx
  src/app/Dashboard/LayoutTemplatePicker.tsx
  src/app/Dashboard/LayoutTemplateUploadModal.tsx
  src/app/Dashboard/ResizableRef.tsx
  src/app/Dashboard/SearchAutocomplete.tsx
  src/app/Dashboard/cryostat-dashboard-templates.tsx
  src/app/Dashboard/dashboard-utils.tsx
  src/app/DateTimePicker/TimezonePicker.tsx
  src/app/Modal/DeleteWarningUtils.tsx
  src/app/QuickStarts/QuickStartDrawer.tsx
  src/app/QuickStarts/quickstarts/dashboard-quickstart.tsx
  src/app/QuickStarts/quickstarts/settings-quickstart.tsx
  src/app/QuickStarts/quickstarts/start-a-recording.tsx
  src/app/Shared/Redux/Configurations/DashboardConfigSlice.tsx
  src/app/Shared/Redux/ReduxStore.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Shared/Services/NotificationChannel.service.tsx
  src/app/app.css
  src/app/utils/fakeData.ts
  src/app/utils/utils.ts
  src/test/Dashboard/Charts/mbean/__snapshots__/MBeanMetricsChartCard.test.tsx.snap
  src/test/Dashboard/Dashboard.test.tsx
  src/test/Dashboard/DashboardLayoutConfig.test.tsx
  src/test/Dashboard/DashboardLayoutToolbar.test.tsx
  src/test/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/test/Dashboard/__snapshots__/DashboardLayoutConfig.test.tsx.snap
  src/test/Settings/__snapshots__/DeletionDialogControl.test.tsx.snap
  src/test/Settings/__snapshots__/NotificationControl.test.tsx.snap
Labels: feat, safe-to-test

#951 feat(error): set error boundary for first renders
  locales/en/common.json
  locales/en/public.json
  src/app/Shared/ErrorBoundary.tsx
  src/app/routes.tsx
Labels: feat, safe-to-test

#952 feat(dashboard): notify user when cards cannot be loaded
  locales/en/public.json
  src/app/Dashboard/AddCard.tsx
  src/app/Dashboard/Dashboard.tsx
  src/app/Dashboard/DashboardSolo.tsx
  src/app/Dashboard/ErrorCard.tsx
  src/app/Dashboard/LayoutTemplateGroup.tsx
  src/app/Dashboard/LayoutTemplatePicker.tsx
  src/app/Dashboard/LayoutTemplateUploadModal.tsx
  src/app/Dashboard/dashboard-utils.tsx
  src/app/Dashboard/i18n.ts
  src/app/Shared/Redux/Configurations/DashboardConfigSlice.tsx
  src/app/app.css
Labels: feat, safe-to-test

#954 fix(recordings): use a helpful error messge for http-based targets
  src/app/CreateRecording/CustomRecordingForm.tsx
  src/app/Shared/Services/Target.service.tsx
Labels: fix, safe-to-test

#958 fix(topology): fix resource update in entity detail view
  src/app/Topology/Shared/Entity/EntityDetails.tsx
  src/app/Topology/Shared/Entity/utils.tsx
Labels: fix, safe-to-test

#956 fix(dashboard): various dashboard related fixes
  src/app/Dashboard/AddCard.tsx
  src/app/Dashboard/Charts/mbean/MBeanMetricsChartCard.tsx
  src/app/Dashboard/DashboardLayoutCreateModal.tsx
  src/app/Dashboard/DashboardLayoutToolbar.tsx
  src/app/Dashboard/LayoutTemplateGroup.tsx
  src/app/Dashboard/LayoutTemplatePicker.tsx
  src/app/Dashboard/LayoutTemplateUploadModal.tsx
  src/app/Dashboard/dashboard-utils.tsx
  src/app/Joyride/CryostatJoyride.tsx
  src/app/QuickStarts/quickstarts/dashboard-quickstart.tsx
  src/app/Shared/FileUploads.tsx
  src/app/Shared/Services/Report.service.tsx
  src/app/app.css
Labels: fix, safe-to-test

#960 fix(rules): fix enable/disable rules cause them to jump on Rules table
  src/app/Rules/Rules.tsx
Labels: fix, safe-to-test

#962 fix(topology): topology view should auto-refresh if enabled
  src/app/Topology/Topology.tsx
Labels: fix, safe-to-test

#961 fix(tables): table should have an intial sort order
  src/app/Agent/AgentLiveProbes.tsx
  src/app/Agent/AgentProbeTemplates.tsx
  src/app/Archives/AllArchivedRecordingsTable.tsx
  src/app/Archives/AllTargetsArchivedRecordingsTable.tsx
  src/app/Events/EventTemplates.tsx
  src/app/Events/EventTypes.tsx
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/app/Rules/Rules.tsx
  src/app/SecurityPanel/Credentials/CredentialTestTable.tsx
  src/app/SecurityPanel/Credentials/MatchedTargetsTable.tsx
  src/app/SecurityPanel/Credentials/StoreCredentials.tsx
  src/app/utils/utils.ts
  src/test/Rules/Rules.test.tsx
Labels: chore, fix, safe-to-test

#964 feat(topology): entity resource should auto refresh if enabled
  src/app/Topology/Shared/Entity/utils.tsx
Labels: feat, safe-to-test

#967 build(config): update package.json and mergify for 2.3 release
  .mergify.yml
  package.json
Labels: chore, build, safe-to-test

#968 fix(dashboard): fixup Automated Analysis Card
  src/app/Dashboard/AutomatedAnalysis/AutomatedAnalysisCardList.tsx
  src/app/Dashboard/AutomatedAnalysis/ClickableAutomatedAnalysisLabel.tsx
  src/app/Dashboard/dashboard-utils.tsx
  src/test/Dashboard/AutomatedAnalysis/__snapshots__/AutomatedAnalysisCardList.test.tsx.snap
Labels: fix, backport, safe-to-test

#971 feat(joyride): show guided tour upon cryostat upgrades
  src/app/About/AboutCryostatModal.tsx
  src/app/AppLayout/AppLayout.tsx
  src/app/Joyride/CryostatJoyride.tsx
  src/app/Topology/Shared/HintBanner.tsx
  src/app/Topology/Topology.tsx
  src/app/Topology/styles/base.css
  src/app/build.json
  src/app/utils/LocalStorage.ts
  src/app/utils/utils.ts
Labels: chore, feat, backport, safe-to-test

#977 chore(build.json): update asset version to 2.3
  src/app/build.json
Labels: chore, safe-to-test

#980 fix(topology): listview target details need fixed height
  src/app/Topology/styles/base.css
Labels: fix, backport, safe-to-test

#953 feat(quickstarts): topology quickstarts
  src/app/QuickStarts/all-quickstarts.ts
  src/app/QuickStarts/quickstart-utils.tsx
  src/app/QuickStarts/quickstarts/automated-rules-quickstart.tsx
  src/app/QuickStarts/quickstarts/cryostat-link-quickstart.tsx
  src/app/QuickStarts/quickstarts/dashboard-quickstart.tsx
  src/app/QuickStarts/quickstarts/generic-quickstart.tsx
  src/app/QuickStarts/quickstarts/start-a-recording.tsx
  src/app/QuickStarts/quickstarts/topology/custom-target-quickstart.tsx
  src/app/QuickStarts/quickstarts/topology/group-start-recordings.tsx
  src/app/Topology/Actions/CreateTarget.tsx
  src/app/Topology/Toolbar/QuickSearchButton.tsx
Labels: feat, backport, safe-to-test

#991 fix(archives): convert jvmId to subdirectoryName for web-client requests
  src/app/AppLayout/AppLayout.tsx
  src/app/Settings/Settings.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/utils/utils.ts
Labels: fix, backport, safe-to-test

#995 fix(about): route /about should show without auth
  src/app/routes.tsx
Labels: fix, backport, safe-to-test

#998 fix(uploads): fix archive upload modal invalid labels popover
  locales/en/public.json
  src/app/Archives/ArchiveUploadModal.tsx
  src/app/RecordingMetadata/RecordingLabel.tsx
  src/app/RecordingMetadata/RecordingLabelFields.tsx
Labels: fix, backport, safe-to-test
