Repository cryostatio/cryostat-web, pull requests merged in 2023-05, with the labels that each got.

#1003 fix(event-templates): should update template selection when template list updates
  src/app/CreateRecording/CustomRecordingForm.tsx
  src/app/Dashboard/AutomatedAnalysis/AutomatedAnalysisConfigForm.tsx
  src/app/Rules/CreateRule.tsx
  src/app/Settings/AutomatedAnalysisConfig.tsx
  src/app/Shared/SelectTemplateSelectorForm.tsx
  src/app/Shared/TargetSelect.tsx
  src/test/Dashboard/AutomatedAnalysis/AutomatedAnalysisConfigForm.test.tsx
  src/test/Rules/CreateRule.test.tsx
  src/test/Settings/AutomatedAnalysisConfig.test.tsx
  src/test/TargetSelect/TargetSelect.test.tsx
Labels: chore, fix, backport, safe-to-test

#1008 fix(dashboard): add display mapper function to dashboard card prop configurations
  src/app/AppLayout/AuthModal.tsx
  src/app/CreateRecording/CustomRecordingForm.tsx
  src/app/Dashboard/AddCard.tsx
  src/app/Dashboard/Charts/mbean/MBeanMetricsChartCard.tsx
  src/app/Dashboard/ErrorCard.tsx
  src/app/Dashboard/cryostat-dashboard-templates.tsx
  src/app/Dashboard/dashboard-utils.tsx
  src/app/Shared/Redux/Configurations/DashboardConfigSlice.tsx
Labels: fix, backport, safe-to-test

#1004 fix(settings): set unmountOnExit behaviour for setting groups
  src/app/Settings/Settings.tsx
  src/app/Shared/TargetSelect.tsx
  src/app/app.css
  src/test/Settings/__snapshots__/Settings.test.tsx.snap
Labels: chore, fix, backport, safe-to-test

#1009 fix(topology): catalog btn tooltip should not show if not needed
  src/app/Topology/Actions/QuickSearchPanel.tsx
  src/app/Topology/Toolbar/QuickSearchButton.tsx
  src/app/Topology/styles/base.css
Labels: fix, backport, safe-to-test

#1015 chore(strings): string fixes for 2.3
  locales/en/public.json
  src/app/Agent/AgentLiveProbes.tsx
  src/app/Agent/AgentProbeTemplates.tsx
  src/app/CreateRecording/CustomRecordingForm.tsx
  src/app/ErrorView/ErrorView.tsx
  src/app/Login/ConnectionError.tsx
  src/app/Login/OpenShiftPlaceholderAuthForm.tsx
  src/app/Modal/DeleteWarningUtils.tsx
  src/app/RecordingMetadata/RecordingLabelFields.tsx
  src/app/Rules/CreateRule.tsx
  src/app/SecurityPanel/Credentials/CreateCredentialModal.tsx
  src/app/Settings/Settings.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Shared/Services/Report.service.tsx
  src/app/Topology/Actions/CreateTarget.tsx
  src/app/Topology/Shared/TopologyExceedLimitState.tsx
  src/test/CreateRecording/CustomRecordingForm.test.tsx
  src/test/CreateRecording/SnapshotRecordingForm.test.tsx
  src/test/CreateRecording/__snapshots__/CustomRecordingForm.test.tsx.snap
  src/test/Events/EventTemplates.test.tsx
  src/test/Events/EventTypes.test.tsx
  src/test/RecordingMetadata/RecordingLabelFields.test.tsx
  src/test/RecordingMetadata/__snapshots__/RecordingLabelFields.test.tsx.snap
  src/test/Recordings/ActiveRecordingsTable.test.tsx
  src/test/Rules/CreateRule.test.tsx
Labels: chore, backport, safe-to-test

#1014 fix(aa): refactor Automated Analysis Recording Setting
  locales/en/common.json
  locales/en/public.json
  src/app/AppLayout/AppLayout.tsx
  src/app/AppLayout/AuthModal.tsx
  src/app/Dashboard/AutomatedAnalysis/AutomatedAnalysisConfigForm.tsx
  src/app/Settings/AutomatedAnalysisConfig.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Shared/Services/Settings.service.tsx
  src/app/Shared/TargetSelect.tsx
  src/test/Dashboard/AutomatedAnalysis/AutomatedAnalysisCard.test.tsx
  src/test/Dashboard/AutomatedAnalysis/AutomatedAnalysisConfigForm.test.tsx
  src/test/Settings/__snapshots__/AutomatedAnalysisConfig.test.tsx.snap
  src/test/Shared/TargetSelect.test.tsx
Labels: chore, backport, safe-to-test

#1024 fix(dashboard): separate display from actual option value
  src/app/Dashboard/AddCard.tsx
  src/app/Dashboard/Charts/mbean/MBeanMetricsChartCard.tsx
Labels: chore, fix, backport, safe-to-test

#1029 chore(ci): run testing jobs in parallel
  .github/workflows/ci.yaml
  .github/workflows/pr-ci.yml
Labels: chore, ci, safe-to-test
