Repository cryostatio/cryostat-web, pull requests merged in 2023-09, with the labels that each got.

#1112 fix(graphql): correct query name
  src/app/RecordingMetadata/BulkEditLabels.tsx
Labels: fix, safe-to-test

#1115 feat(topology): render Cryostat icon for Agent targets
  src/app/Topology/GraphView/CustomNode.tsx
Labels: feat, safe-to-test

#1118 docs(read-me): correct ci status badge
  README.md
Labels: docs, safe-to-test

#1113 build(ci): submodule should sign commits
  .github/workflows/submodule.yaml
Labels: ci, safe-to-test

#1109 docs(itest): add supplemental integration testing documentation
  .github/workflows/ci.yaml
  TESTING.md
Labels: docs

#1117 feat(recordings): update Automated Analysis UI
  src/app/Dashboard/AutomatedAnalysis/AutomatedAnalysisCard.tsx
  src/app/Dashboard/AutomatedAnalysis/AutomatedAnalysisCardList.tsx
  src/app/Dashboard/AutomatedAnalysis/AutomatedAnalysisFilters.tsx
  src/app/Dashboard/AutomatedAnalysis/ClickableAutomatedAnalysisLabel.tsx
  src/app/Dashboard/dashboard-utils.tsx
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/app/Recordings/RecordingActions.tsx
  src/app/Recordings/ReportFrame.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Shared/Services/Report.service.tsx
  src/app/utils/fakeData.ts
  src/test/Dashboard/AutomatedAnalysis/AutomatedAnalysisCard.test.tsx
  src/test/Dashboard/AutomatedAnalysis/AutomatedAnalysisCardList.test.tsx
  src/test/Dashboard/AutomatedAnalysis/ClickableAutomatedAnalysisLabel.test.tsx
  src/test/Dashboard/AutomatedAnalysis/Filters/AutomatedAnalysisNameFilter.test.tsx
  src/test/Dashboard/AutomatedAnalysis/Filters/AutomatedAnalysisTopicFilter.test.tsx
  src/test/Dashboard/AutomatedAnalysis/__snapshots__/AutomatedAnalysisCardList.test.tsx.snap
  src/test/Recordings/ActiveRecordingsTable.test.tsx
  src/test/Recordings/ArchivedRecordingsTable.test.tsx
Labels: chore, safe-to-test

#1116 build(yarn): update yarn version
  .yarn/releases/yarn-3.3.0.cjs
  .yarn/releases/yarn-3.6.3.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: dependencies, chore, build, safe-to-test
