Repository cryostatio/cryostat-web, pull requests merged in 2024-06, with the labels that each got.

#1264 fix(auth): render username in top bar
  src/app/Shared/Services/Login.service.tsx
  src/mirage/index.ts
  src/test/Shared/Services/Login.service.test.tsx
Labels: fix, safe-to-test

#1269 chore(release): update mergify
  .mergify.yml
Labels: chore, safe-to-test

#1270 chore(release): set versions to 4.0.0-dev
  .mergify.yml
  package.json
  src/app/build.json
Labels: chore, safe-to-test

#1273 fix(quickstarts): remove outdated feature descriptions
  src/app/QuickStarts/quickstarts/automated-rules-quickstart.tsx
  src/app/QuickStarts/quickstarts/dashboard-quickstart.tsx
  src/app/QuickStarts/quickstarts/generic-quickstart.tsx
  src/app/QuickStarts/quickstarts/settings-quickstart.tsx
  src/app/QuickStarts/quickstarts/start-a-recording.tsx
  src/app/QuickStarts/quickstarts/topology/custom-target-quickstart.tsx
  src/app/QuickStarts/quickstarts/topology/group-start-recordings.tsx
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
Labels: fix, backport, safe-to-test

#1275 fix(matchexpr): tooltip hint checks for annotation existence before asserting value
  src/app/Shared/Components/MatchExpression/MatchExpressionHint.tsx
Labels: fix, backport, safe-to-test

#1278 fix(matchexpr): fix bug in evaluator List view
  src/app/Shared/Components/MatchExpression/MatchExpressionVisualizer.tsx
  src/app/Shared/Services/api.types.ts
  src/app/Topology/Shared/utils.tsx
Labels: fix, backport, safe-to-test

#1283 test(mirage): correct server authority string in preview builds
  src/mirage/index.ts
  webpack.prod.js
Labels: backport, test, safe-to-test

#1290 ci(tools): use podman for building container images
  .github/workflows/pr-ci.yml
Labels: ci, fix, safe-to-test
