Repository cryostatio/cryostat-web, pull requests merged in 2024-08, with the labels that each got.

#1317 chore(rules): migrate Automated Rules view to pf5
  .gitignore
  locales/en/common.json
  locales/en/public.json
  src/app/Rules/CreateRule.tsx
  src/app/Rules/RuleDeleteWarningModal.tsx
  src/app/Rules/Rules.tsx
  src/app/Rules/RulesUploadModal.tsx
  src/app/Rules/i18n.ts
  src/app/app.css
Labels: chore, safe-to-test

#1295 feat(graphql): improve error handling
  src/app/Dashboard/AutomatedAnalysis/AutomatedAnalysisCard.tsx
  src/app/Dashboard/Charts/mbean/MBeanMetricsChartCard.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Shared/Services/api.utils.ts
  src/test/Dashboard/Charts/mbean/MBeanMetricsChartCard.test.tsx
  src/test/Dashboard/Dashboard.test.tsx
Labels: feat, safe-to-test

#1324 fix(recordings): maxSize should be displayed correctly
  src/app/Recordings/ActiveRecordingsTable.tsx
Labels: fix, safe-to-test

#1323 fix(labels): fix broken label file parsing in archive upload modal
  src/app/RecordingMetadata/utils.ts
  src/test/RecordingMetadata/RecordingLabelFields.test.tsx
  src/test/Recordings/ArchivedRecordingsTable.test.tsx
Labels: fix, backport, safe-to-test

#1326 chore(pf5): use new background image for About modal
  src/app/About/AboutCryostatModal.tsx
  src/app/assets/cryostat_icon_bg.svg
Labels: chore, safe-to-test

#1318 chore(pf5): upgrade Recording view to Patternfly 5
  locales/en/common.json
  locales/en/public.json
  src/app/CreateRecording/CreateRecording.tsx
  src/app/CreateRecording/CustomRecordingForm.tsx
  src/app/CreateRecording/SnapshotRecordingForm.tsx
  src/app/DateTimePicker/DateTimePicker.tsx
  src/app/DateTimePicker/TimePicker.tsx
  src/app/DateTimePicker/TimezonePicker.tsx
  src/app/DurationPicker/DurationPicker.tsx
  src/app/RecordingMetadata/BulkEditLabels.tsx
  src/app/RecordingMetadata/ClickableLabel.tsx
  src/app/RecordingMetadata/LabelCell.tsx
  src/app/RecordingMetadata/RecordingLabelFields.tsx
  src/app/RecordingMetadata/utils.ts
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/app/Recordings/Filters/DurationFilter.tsx
  src/app/Recordings/Filters/LabelFilter.tsx
  src/app/Recordings/Filters/NameFilter.tsx
  src/app/Recordings/Filters/RecordingStateFilter.tsx
  src/app/Recordings/RecordingActions.tsx
  src/app/Recordings/RecordingFilters.tsx
  src/app/Recordings/RecordingLabelsPanel.tsx
  src/app/Recordings/RecordingsTable.tsx
  src/app/Settings/Config/DatetimeControl.tsx
  src/app/Shared/Components/SelectTemplateSelectorForm.tsx
  src/app/app.css
  src/test/DateTimePicker/TimezonePicker.test.tsx
Labels: chore, safe-to-test

#1329 feat(units): improve display of bytes and duration units
  package.json
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Rules/Rules.tsx
  src/app/utils/utils.ts
  src/test/Recordings/ActiveRecordingsTable.test.tsx
  yarn.lock
Labels: feat, safe-to-test

#1330 chore(pf5): upgrade Settings view to Patternfly 5
  locales/en/common.json
  locales/en/public.json
  src/app/AppLayout/AppLayout.tsx
  src/app/AppLayout/NotificationCenter.tsx
  src/app/AppLayout/ThemeToggle.tsx
  src/app/Dashboard/AutomatedAnalysis/AutomatedAnalysisConfigForm.tsx
  src/app/Dashboard/AutomatedAnalysis/ClickableAutomatedAnalysisLabel.tsx
  src/app/DateTimePicker/TimePicker.tsx
  src/app/DateTimePicker/TimezonePicker.tsx
  src/app/SecurityPanel/Credentials/CredentialTestTable.tsx
  src/app/Settings/Config/AutoRefresh.tsx
  src/app/Settings/Config/ChartCards.tsx
  src/app/Settings/Config/DatetimeControl.tsx
  src/app/Settings/Config/DeletionDialogControl.tsx
  src/app/Settings/Config/FeatureLevels.tsx
  src/app/Settings/Config/Language.tsx
  src/app/Settings/Config/NotificationControl.tsx
  src/app/Settings/Config/Theme.tsx
  src/app/Settings/Config/WebSocketDebounce.tsx
  src/app/Settings/Settings.tsx
  src/app/Settings/i18n.ts
  src/app/Settings/utils.ts
  src/app/TargetView/TargetContextSelector.tsx
  src/app/TargetView/TargetSelect.tsx
  src/app/Topology/Actions/QuickSearchPanel.tsx
  src/app/Topology/GraphView/CustomGroup.tsx
  src/app/Topology/Shared/Components/Shortcuts.tsx
  src/app/Topology/styles/base.css
  src/app/app.css
Labels: chore, safe-to-test

#1321 chore(discovery): use target.agent field for determining connection type
  src/app/Archives/AllTargetsArchivedRecordingsTable.tsx
  src/app/Archives/Archives.tsx
  src/app/Archives/utils.tsx
  src/app/CreateRecording/CustomRecordingForm.tsx
  src/app/Shared/Services/api.types.ts
  src/app/Shared/Services/api.utils.ts
  src/app/Topology/Actions/CreateTarget.tsx
  src/app/Topology/GraphView/CustomNode.tsx
  src/app/utils/fakeData.ts
  src/mirage/factories.ts
  src/test/Agent/AgentLiveProbes.test.tsx
  src/test/Archives/AllTargetsArchivedRecordingsTable.test.tsx
  src/test/CreateRecording/CustomRecordingForm.test.tsx
  src/test/CreateRecording/SnapshotRecordingForm.test.tsx
  src/test/Dashboard/AutomatedAnalysis/AutomatedAnalysisCard.test.tsx
  src/test/Dashboard/AutomatedAnalysis/AutomatedAnalysisConfigForm.test.tsx
  src/test/Dashboard/Charts/jfr/JFRMetricsChartCard.test.tsx
  src/test/Dashboard/Charts/mbean/MBeanMetricsChartCard.test.tsx
  src/test/Dashboard/Dashboard.test.tsx
  src/test/Events/EventTemplates.test.tsx
  src/test/Events/EventTypes.test.tsx
  src/test/RecordingMetadata/BulkEditLabels.test.tsx
  src/test/RecordingMetadata/LabelCell.test.tsx
  src/test/Recordings/ActiveRecordingsTable.test.tsx
  src/test/Recordings/ArchivedRecordingsTable.test.tsx
  src/test/Recordings/RecordingFilters.test.tsx
  src/test/Recordings/Recordings.test.tsx
  src/test/Rules/CreateRule.test.tsx
  src/test/TargetView/TargetSelect.test.tsx
Labels: chore, backport, safe-to-test

#1315 feat(about): link to commit hash
  locales/en/public.json
  src/app/About/AboutDescription.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Shared/Services/api.types.ts
  src/app/build.json
Labels: feat, dependent, safe-to-test
