Repository cryostatio/cryostat-web, pull requests merged in 2024-04, with the labels that each got.

#1236 chore(oauth): remove unused openshift-specific logout function
  src/app/Shared/Services/Login.service.tsx
Labels: chore, safe-to-test

#1242 fix(test): fix broken test related to GraphQL
  src/app/Archives/AllArchivedRecordingsTable.tsx
  src/app/Archives/AllTargetsArchivedRecordingsTable.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/app/Shared/Services/api.types.ts
  src/test/Archives/AllArchivedRecordingsTable.test.tsx
  src/test/Archives/AllTargetsArchivedRecordingsTable.test.tsx
  src/test/RecordingMetadata/BulkEditLabels.test.tsx
  src/test/Recordings/ActiveRecordingsTable.test.tsx
  src/test/Recordings/ArchivedRecordingsTable.test.tsx
Labels: fix, safe-to-test

#1245 fix(graphql): query target nodes by targets' IDs rather than connectUrls
  src/app/Archives/AllTargetsArchivedRecordingsTable.tsx
  src/app/Dashboard/AutomatedAnalysis/AutomatedAnalysisCard.tsx
  src/app/RecordingMetadata/BulkEditLabels.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Topology/Entity/EntityDetails.tsx
Labels: fix, dependent, safe-to-test

#1246 fix(graphql): handle nullable response fields that can occur when there are server errors
  src/app/Archives/AllTargetsArchivedRecordingsTable.tsx
  src/app/Dashboard/AutomatedAnalysis/AutomatedAnalysisCard.tsx
  src/app/RecordingMetadata/BulkEditLabels.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Topology/Entity/EntityDetails.tsx
Labels: fix, safe-to-test

#1248 fix(jmcagent): correct notification handling
  src/app/Agent/AgentLiveProbes.tsx
  src/test/Agent/AgentLiveProbes.test.tsx
Labels: fix, safe-to-test

#1241 fix(jmxauth): remove references to client-side localstorage JMX credential passthrough
  src/app/AppLayout/AuthModal.tsx
  src/app/SecurityPanel/Credentials/StoredCredentials.tsx
  src/app/SecurityPanel/SecurityPanel.tsx
  src/app/Settings/Config/CredentialsStorage.tsx
  src/app/Settings/Settings.tsx
  src/app/Shared/Services/AuthCredentials.service.tsx
  src/app/Shared/Services/Services.tsx
  src/app/Topology/Actions/CreateTarget.tsx
  src/test/SecurityPanel/Credentials/StoreCredentials.test.tsx
  src/test/Settings/CredentialsStorage.test.tsx
  src/test/Settings/Settings.test.tsx
  src/test/Shared/Services/JmxCredentials.service.test.tsx
Labels: fix, safe-to-test

#1240 feat(certs): replace cert upload flow with cert listing
  src/app/AppLayout/SslErrorModal.tsx
  src/app/SecurityPanel/CertificateUploadModal.tsx
  src/app/SecurityPanel/ImportCertificate.tsx
  src/app/SecurityPanel/SecurityPanel.tsx
  src/app/Topology/Shared/utils.tsx
Labels: feat, safe-to-test

#1252 fix(topology): delete action should be available for custom targets
  src/app/Topology/Actions/types.ts
  src/app/Topology/Actions/utils.tsx
Labels: fix, safe-to-test
