Repository cryostatio/cryostat-web, pull requests merged in 2024-02, with the labels that each got.

#1211 fix(rules): remove id key from uploaded rule
  src/app/Rules/RulesUploadModal.tsx
Labels: fix, safe-to-test

#1213 ci(core): use -core from Central, do not rebuild locally
  .github/workflows/pr-ci.yml
Labels: chore, ci, safe-to-test

#1192 fix(notifications): parse detail for notification body
  src/app/Shared/Services/Api.service.tsx
Labels: fix, safe-to-test

#1215 chore(templates): remove auth token download flow
  src/app/Shared/Services/Api.service.tsx
Labels: chore, dependent, safe-to-test

#1218 fix(graphql): emit notifications on server error response
  src/app/Shared/Services/Api.service.tsx
Labels: fix, safe-to-test
