Repository cryostatio/cryostat-web, pull requests merged in 2024-09, with the labels that each got.

#1333 chore(pf5): upgrade Security view to Patternfly 5
  locales/en/common.json
  locales/en/public.json
  src/app/SecurityPanel/Credentials/CreateCredentialModal.tsx
  src/app/SecurityPanel/Credentials/CredentialTestTable.tsx
  src/app/SecurityPanel/Credentials/MatchedTargetsTable.tsx
  src/app/SecurityPanel/Credentials/StoredCredentials.tsx
  src/app/SecurityPanel/ImportCertificate.tsx
  src/app/SecurityPanel/SecurityPanel.tsx
  src/app/SecurityPanel/types.ts
  src/app/app.css
  src/app/utils/utils.ts
Labels: chore, safe-to-test

#1336 fix(topology): fix Cola layout failing due to pending outdated graph elements
  locales/en/public.json
  src/app/AppLayout/ThemeToggle.tsx
  src/app/Topology/Actions/WarningResolver.tsx
  src/app/Topology/Entity/EntityDetails.tsx
  src/app/Topology/GraphView/TopologyControlBar.tsx
  src/app/Topology/GraphView/TopologyGraphView.tsx
  src/app/Topology/GraphView/utils.tsx
  src/app/Topology/Toolbar/TopologyFilters.tsx
  src/app/Topology/Topology.tsx
Labels: fix, safe-to-test

#1339 feat(topology): add target.Agent topology filter
  src/app/Shared/Redux/Filters/TopologyFilterSlice.tsx
  src/app/Topology/Shared/utils.tsx
Labels: feat, safe-to-test

#1342 chore(pf5): upgrade Dashboard view to Patternfly 5
  locales/en/common.json
  locales/en/public.json
  src/app/AppLayout/AppLayout.tsx
  src/app/AppLayout/LogoutIcon.tsx
  src/app/Dashboard/AddCard.tsx
  src/app/Dashboard/AutomatedAnalysis/AutomatedAnalysisCard.tsx
  src/app/Dashboard/AutomatedAnalysis/AutomatedAnalysisCardList.tsx
  src/app/Dashboard/AutomatedAnalysis/AutomatedAnalysisConfigDrawer.tsx
  src/app/Dashboard/AutomatedAnalysis/AutomatedAnalysisFilters.tsx
  src/app/Dashboard/AutomatedAnalysis/Filters/AutomatedAnalysisNameFilter.tsx
  src/app/Dashboard/AutomatedAnalysis/Filters/AutomatedAnalysisTopicFilter.tsx
  src/app/Dashboard/Charts/jfr/JFRMetricsChartCard.tsx
  src/app/Dashboard/Charts/mbean/MBeanMetricsChartCard.tsx
  src/app/Dashboard/DashboardCardActionMenu.tsx
  src/app/Dashboard/DashboardLayoutCreateModal.tsx
  src/app/Dashboard/DashboardLayoutToolbar.tsx
  src/app/Dashboard/LayoutTemplateGroup.tsx
  src/app/Dashboard/LayoutTemplatePicker.tsx
  src/app/Dashboard/SearchAutocomplete.tsx
  src/app/Dashboard/cryostat-dashboard-templates.tsx
  src/app/Dashboard/types.ts
  src/app/QuickStarts/QuickStartDrawer.tsx
  src/app/app.css
  src/app/index.tsx
  stylePaths.js
  webpack.dev.js
  webpack.prod.js
Labels: chore, safe-to-test

#1344 chore(pf5): upgrade 404 page to Patternfly 5
  locales/en/public.json
  src/app/NotFound/NotFound.tsx
  src/app/NotFound/NotFoundCard.tsx
Labels: chore, safe-to-test

#1345 fix(about): add missing buildInfo in mocked health response
  src/app/Recordings/Filters/DatetimeFilter.tsx
  src/app/Recordings/Filters/DurationFilter.tsx
  src/mirage/index.ts
Labels: chore, fix, safe-to-test

#1349 fix(topology): filter options should show unique value only
  src/app/Topology/Toolbar/TopologyFilters.tsx
Labels: fix, safe-to-test

#1350 fix(credentials): number of matched targets should be updated corretly on notification
  src/app/SecurityPanel/Credentials/StoredCredentials.tsx
Labels: fix, safe-to-test

#1353 chore(text): specify CEL as the language spec for match expression
  .github/workflows/ci.yaml
  locales/en/public.json
  src/app/QuickStarts/quickstarts/automated-rules-quickstart.tsx
  src/app/Rules/CreateRule.tsx
  src/app/Rules/utils.ts
  src/app/SecurityPanel/Credentials/CreateCredentialModal.tsx
Labels: chore, safe-to-test

#1372 ci(dependabot): increase open PR limit
  .github/dependabot.yml
Labels: ci, safe-to-test

#1390 fix(custom-target): validation icons should have correct color
  src/app/Topology/Actions/CreateTarget.tsx
Labels: chore, fix, safe-to-test

#1401 ci(node): use single latest Node LTS version
  .github/workflows/ci-preview.yml
  .github/workflows/ci.yaml
Labels: ci, safe-to-test

#1402 docs(readme): update NodeJS version requirement
  README.md
Labels: docs

#1348 chore(release): set versions for 3.0.1
  package.json
  src/app/build.json
Labels: chore, safe-to-test

#1416 chore(release): set versions for 3.0.2-dev
  package.json
  src/app/build.json
Labels: chore, safe-to-test

#1417 test(tables): fixup for react-table version bump
  src/test/Events/__snapshots__/EventTemplates.test.tsx.snap
Labels: test, safe-to-test

#1419 build(deps-dev): downgrade ts-jest from 29.2.5 to 27.1.5
  package.json
  yarn.lock
Labels: dependencies, build, safe-to-test
