Repository cryostatio/cryostat-web, pull requests merged in 2024-07, with the labels that each got.

#1296 chore(rename): replace all cryostat3 references to cryostat
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/ci.yaml
  .github/workflows/pr-ci.yml
  .github/workflows/submodule.yaml
Labels: chore, safe-to-test

#1300 ci(tools): emulate docker with podman before image builds
  .github/workflows/pr-ci.yml
Labels: ci, fix, backport, safe-to-test

#1298 fix(dashboard): correct chart source url for jfr-metrics charts
  src/app/Dashboard/Charts/jfr/JFRMetricsChartCard.tsx
  src/app/Dashboard/cryostat-dashboard-templates.tsx
Labels: fix, backport, safe-to-test

#1299 feat(dev-server): configure request proxy for dev-server
  README.md
  src/app/Shared/Services/Report.service.tsx
  webpack.dev.js
Labels: feat, safe-to-test

#1306 ci(pr): enable PR for upstream feature branches
  .github/workflows/ci.yaml
Labels: ci, safe-to-test

#1309 fix(masthead): correct styling of masthead icons and quickstart menu item
  src/app/AppLayout/AppLayout.tsx
  src/app/Settings/Config/FeatureLevels.tsx
Labels: fix, safe-to-test

#1312 fix(topology): nodes can be filtered by label/annotation
  src/app/Shared/Services/api.types.ts
  src/app/Topology/Entity/EntityAnnotations.tsx
  src/app/Topology/Shared/utils.tsx
  src/app/Topology/Toolbar/TopologyFilters.tsx
Labels: fix, backport, safe-to-test

#1313 fix(recordings): render labels in 'key=value' form
  src/app/RecordingMetadata/ClickableLabel.tsx
  src/app/RecordingMetadata/LabelCell.tsx
  src/app/RecordingMetadata/utils.ts
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Recordings/Filters/LabelFilter.tsx
  src/app/Recordings/RecordingFilters.tsx
  src/app/Topology/Toolbar/TopologyFilters.tsx
  src/test/RecordingMetadata/BulkEditLabels.test.tsx
  src/test/RecordingMetadata/ClickableLabel.test.tsx
  src/test/RecordingMetadata/LabelCell.test.tsx
  src/test/RecordingMetadata/__snapshots__/BulkEditLabels.test.tsx.snap
  src/test/RecordingMetadata/__snapshots__/ClickableLabel.test.tsx.snap
  src/test/RecordingMetadata/__snapshots__/LabelCell.test.tsx.snap
  src/test/Recordings/ActiveRecordingsTable.test.tsx
  src/test/Recordings/ArchivedRecordingsTable.test.tsx
  src/test/Recordings/Filters/LabelFilter.test.tsx
Labels: fix, safe-to-test

#1308 chore(pf5): upgrade Topology View to Patternfly 5
  package.json
  src/app/Shared/Services/api.types.ts
  src/app/Topology/Actions/NodeActions.tsx
  src/app/Topology/Actions/QuickSearchPanel.tsx
  src/app/Topology/Entity/EntityAnnotations.tsx
  src/app/Topology/Entity/EntityKeyValues.tsx
  src/app/Topology/GraphView/CustomGroup.tsx
  src/app/Topology/GraphView/CustomNode.tsx
  src/app/Topology/GraphView/NodeDecorator.tsx
  src/app/Topology/GraphView/TopologyControlBar.tsx
  src/app/Topology/GraphView/TopologyGraphView.tsx
  src/app/Topology/GraphView/const.ts
  src/app/Topology/Toolbar/DisplayOptions.tsx
  src/app/Topology/Toolbar/TopologyFilters.tsx
  src/app/Topology/Toolbar/TopologyToolbar.tsx
  src/app/Topology/Toolbar/utils.ts
  src/app/Topology/styles/base.css
  src/app/app.css
  webpack.dev.js
  webpack.prod.js
  yarn.lock
Labels: chore, safe-to-test

#1316 chore(type): remove unused auth components and fix type-check
  src/app/Login/BasicAuthForm.tsx
  src/app/Login/ConnectionError.tsx
  src/app/Login/Login.tsx
  src/app/Login/OpenShiftPlaceholderAuthForm.tsx
  src/app/Login/types.ts
  src/app/RecordingMetadata/ClickableLabel.tsx
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Topology/Entity/EntityAnnotations.tsx
  src/app/Topology/Entity/EntityKeyValues.tsx
  src/app/Topology/Toolbar/TopologyFilters.tsx
  src/app/utils/utils.ts
Labels: chore, safe-to-test
