Repository cryostatio/cryostat-web, pull requests merged in 2024-12, with the labels that each got.

#1491 feat(async): long-running async job notification handling
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Recordings/ArchivedRecordingsTable.tsx
  src/app/Recordings/RecordingActions.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Shared/Services/Report.service.tsx
  src/app/Shared/Services/Services.tsx
  src/app/Shared/Services/api.types.ts
  src/app/Shared/Services/api.utils.ts
  src/app/utils/fakeData.ts
  src/test/Dashboard/AutomatedAnalysis/AutomatedAnalysisCard.test.tsx
  src/test/Recordings/ActiveRecordingsTable.test.tsx
  src/test/Recordings/ArchivedRecordingsTable.test.tsx
  src/test/Settings/__snapshots__/NotificationControl.test.tsx.snap
Labels: feat, safe-to-test

#1498 feat(eventtemplates): enable custom event template UI to display when no target is selected
  src/app/Events/EventTemplates.tsx
  src/app/Events/Events.tsx
  src/app/Rules/CreateRule.tsx
  src/app/Shared/Services/Api.service.tsx
  src/test/Rules/CreateRule.test.tsx
Labels: feat, safe-to-test

#1503 fix(eventtypes): remove duplicate word in search placeholder
  locales/en/public.json
  src/test/Events/__snapshots__/EventTypes.test.tsx.snap
Labels: fix, safe-to-test

#1497 feat(eventtemplates): support preset event template type
  src/app/Shared/Components/SelectTemplateSelectorForm.tsx
  src/app/Shared/Services/api.types.ts
  src/test/CreateRecording/__snapshots__/CustomRecordingForm.test.tsx.snap
Labels: feat, dependent, safe-to-test
