Repository cryostatio/cryostat-web, pull requests merged in 2025-01, with the labels that each got.

#1516 ci(criu): add CRIU PPA for Podman dependency
  .github/workflows/pr-ci.yml
Labels: ci, safe-to-test

#1519 ci(cryostat): upgrade builder to JDK 21
  .github/workflows/pr-ci.yml
Labels: ci, safe-to-test

#1520 ci(jdk): distribution typo
  .github/workflows/pr-ci.yml
Labels: ci, safe-to-test

#1524 fix(about): be more lenient about build version format
  src/app/About/AboutDescription.tsx
  src/test/About/AboutDescription.test.tsx
  src/test/About/__snapshots__/AboutDescription.test.tsx.snap
Labels: fix, safe-to-test

#1513 fix(storedcredentials): define target match array to avoid undefined reference error
  src/app/SecurityPanel/Credentials/StoredCredentials.tsx
Labels: fix, safe-to-test

#1529 chore(router): replace react-router-dom v6 with react-router-dom-v5-compat
  package.json
  src/app/AppLayout/AppLayout.tsx
  src/app/AppLayout/AuthModal.tsx
  src/app/AppLayout/SslErrorModal.tsx
  src/app/Archives/Archives.tsx
  src/app/BreadcrumbPage/BreadcrumbPage.tsx
  src/app/CreateRecording/CustomRecordingForm.tsx
  src/app/CreateRecording/SnapshotRecordingForm.tsx
  src/app/Dashboard/Charts/jfr/JFRMetricsChartCard.tsx
  src/app/Dashboard/Dashboard.tsx
  src/app/Dashboard/DashboardSolo.tsx
  src/app/Events/EventTemplates.tsx
  src/app/Events/Events.tsx
  src/app/NotFound/NotFound.tsx
  src/app/NotFound/NotFoundCard.tsx
  src/app/Recordings/ActiveRecordingsTable.tsx
  src/app/Recordings/Recordings.tsx
  src/app/Rules/CreateRule.tsx
  src/app/Rules/Rules.tsx
  src/app/Settings/Settings.tsx
  src/app/TargetView/TargetContextSelector.tsx
  src/app/Topology/Actions/CreateTarget.tsx
  src/app/Topology/Actions/NodeActions.tsx
  src/app/Topology/Actions/QuickSearchPanel.tsx
  src/app/Topology/Actions/WarningResolver.tsx
  src/app/Topology/Actions/types.ts
  src/app/Topology/Entity/EntityDetails.tsx
  src/app/Topology/Entity/utils.tsx
  src/app/Topology/Shared/Components/TopologyEmptyState.tsx
  src/app/index.tsx
  src/app/routes.tsx
  src/app/utils/utils.ts
  src/test/CreateRecording/CustomRecordingForm.test.tsx
  src/test/CreateRecording/SnapshotRecordingForm.test.tsx
  src/test/Dashboard/Charts/jfr/JFRMetricsChartCard.test.tsx
  src/test/Rules/CreateRule.test.tsx
  src/test/Settings/Settings.test.tsx
  src/test/utils.tsx
  yarn.lock
Labels: chore, safe-to-test

#1534 feat(routes): allow setting a basepath via an environment variable
  src/app/AppLayout/AppLayout.tsx
  src/app/AppLayout/SslErrorModal.tsx
  src/app/CreateRecording/CreateRecording.tsx
  src/app/Dashboard/Charts/jfr/JFRMetricsChartCard.tsx
  src/app/Dashboard/Dashboard.tsx
  src/app/Dashboard/DashboardSolo.tsx
  src/app/Events/EventTemplates.tsx
  src/app/Rules/CreateRule.tsx
  src/app/Topology/Actions/CreateTarget.tsx
  src/app/Topology/Actions/quicksearches/custom-target.tsx
  src/app/Topology/Actions/utils.tsx
  src/app/routes.tsx
  src/app/utils/utils.ts
  src/test/utils.tsx
  webpack.dev.js
  webpack.prod.js
Labels: feat, safe-to-test

#1535 fix(recordings): Fix active recordings table refresh behavior for replace:"ALWAYS"
  src/app/Recordings/ActiveRecordingsTable.tsx
Labels: fix, safe-to-test

#1539 fix(routing): fix Link routing when using custom basepath
  src/app/AppLayout/AppLayout.tsx
  src/app/BreadcrumbPage/BreadcrumbPage.tsx
  src/app/NotFound/NotFoundCard.tsx
  src/app/Rules/Rules.tsx
  src/app/Shared/Components/CryostatLink.tsx
  src/app/Topology/Actions/QuickSearchPanel.tsx
  src/app/Topology/Shared/Components/TopologyEmptyState.tsx
Labels: fix

#1541 fix(notifications): Fix notification message for Recording Archive failures
  src/app/Shared/Services/api.utils.ts
Labels: fix, safe-to-test

#1542 feat(context): allow contextual override for API requests
  src/app/AppLayout/AppLayout.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Shared/Services/Login.service.tsx
  src/app/Shared/Services/Services.tsx
  src/app/Shared/Services/api.types.ts
  src/app/utils/fakeData.ts
  src/test/Shared/Services/Login.service.test.tsx
Labels: feat, safe-to-test

#1544 fix(notifications): contextual override for WebSocket notification URL
  src/app/AppLayout/AppLayout.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Shared/Services/NotificationChannel.service.tsx
  src/app/Shared/Services/Services.tsx
  src/app/utils/fakeData.ts
  src/mirage/index.ts
Labels: fix, safe-to-test

#1547 fix(notifications): correctly append query parameters
  src/app/Shared/Services/NotificationChannel.service.tsx
Labels: fix, safe-to-test

#1548 fix(download): use contextual URL mapping for file downloads
  src/app/Shared/Services/Api.service.tsx
Labels: fix, safe-to-test

#1550 chore(reports): use CryostatContext url and headers for reportJson
  src/app/Shared/Services/Report.service.tsx
  src/app/Shared/Services/Services.tsx
  src/app/utils/fakeData.ts
Labels: chore

#1553 feat(capabilities): functionality to disable UI capabilities for different contexts
  src/app/Archives/Archives.tsx
  src/app/Events/EventTemplates.tsx
  src/app/Rules/Rules.tsx
  src/app/Shared/Services/Capabilities.tsx
  src/app/index.tsx
Labels: feat, safe-to-test

#1554 fix(services): perform lazy initialization
  src/app/AppLayout/AppLayout.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Shared/Services/Login.service.tsx
  src/app/Shared/Services/Services.tsx
  src/app/Shared/Services/Targets.service.tsx
  src/test/Shared/Services/Login.service.test.tsx
Labels: fix, safe-to-test
