Repository cryostatio/cryostat-web, pull requests merged in 2025-07, with the labels that each got.

#1667 test(tz): fix sporadic TimezonePicker test failure
  src/test/DateTimePicker/TimezonePicker.test.tsx
Labels: test, safe-to-test

#1660 feat(reports): add Automated Analysis Reports overview page
  locales/en/public.json
  src/app/Recordings/TargetAnalysis.tsx
  src/app/Reports/Reports.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/routes.tsx
  src/mirage/index.ts
  src/test/Reports/Reports.test.tsx
  src/test/Reports/__snapshots__/Reports.test.tsx.snap
Labels: feat, safe-to-test

#1673 ci(pr): update bot comment
  .github/workflows/pr-ci.yml
Labels: ci, safe-to-test

#1609 feat(topology): add controls to filter report results from Topology decorator
  locales/en/public.json
  src/app/Settings/Config/TopologyConfig.tsx
  src/app/Settings/Settings.tsx
  src/app/Settings/types.ts
  src/app/Shared/Redux/Configurations/TopologyConfigSlice.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Topology/Entity/utils.tsx
  src/test/Settings/Settings.test.tsx
  src/test/Settings/TopologyConfig.test.tsx
  src/test/Settings/__snapshots__/Settings.test.tsx.snap
  src/test/Settings/__snapshots__/TopologyConfig.test.tsx.snap
Labels: feat, safe-to-test

#1731 chore(tsconfig): increase target to es6
  tsconfig.json
Labels: chore, safe-to-test
