Repository cryostatio/cryostat-web, pull requests merged in 2025-02, with the labels that each got.

#1555 fix(archives): add keys to Archive tabs to prevent setExtraStackFrame error
  src/app/Archives/Archives.tsx
Labels: fix

#1556 fix(api): merge contextual headers
  src/app/Shared/Services/Api.service.tsx
Labels: fix, safe-to-test

#1557 fix(grafana): Grafana dashboard uses contextual path and parameters and capability to override URL
  src/app/Recordings/RecordingActions.tsx
  src/app/Shared/Services/Api.service.tsx
  src/app/Shared/Services/Capabilities.tsx
Labels: fix, safe-to-test

#1558 chore(mergify): set backport branch to cryostat-v4.0
  .mergify.yml
Labels: chore, safe-to-test

#1559 chore(release): set version to 4.1.0-dev
  package.json
  src/app/build.json
Labels: chore, safe-to-test

#1560 fix(topology): merge topology elements on update
  src/app/Topology/GraphView/TopologyGraphView.tsx
Labels: fix, backport, safe-to-test

#1563 chore(diagnostics): Promote diagnostics card to Production level
  src/app/Dashboard/Diagnostics/DiagnosticsCard.tsx
Labels: chore, backport, safe-to-test

#1565 chore(diagnostics): Remove beta label from diagnostics card labels
  src/app/Dashboard/Diagnostics/DiagnosticsCard.tsx
Labels: chore, backport, safe-to-test

#1567 fix(links): update CryostatLink to handle partial paths
  src/app/Shared/Components/CryostatLink.tsx
  src/app/Topology/Entity/EntityDetails.tsx
Labels: fix, backport, safe-to-test

#1576 fix(locale): correct improperly escaped character
  locales/en/public.json
Labels: fix, backport, safe-to-test
